.multiTags {
  display: flex;
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--text-default-grey);
  background-color: rgb(238, 238, 238);
  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  row-gap: 10px;
}

.multiTagsInput {
  line-height: 1.8rem;
  background-color: rgb(245, 245, 245);
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: 1px solid #ccc;
  padding: 0 0.5rem;
}
