@import "scss/Constants.scss";

.BSDDActionsToggle {
  font-size: 0.8rem;
  display: inline-flex;
  flex-direction: column;
  padding: 0.25rem 1rem;

  svg {
    flex: 1 0 auto;
  }
}

[data-reach-menu-list] {
  padding: 0;
  border-radius: $common-radius;
  font-size: 0.8rem;
  border-color: $blue-dark;
}

[data-reach-menu-item] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;

  &:focus,
  &:hover,
  &[data-selected] {
    opacity: 0.6;
    color: inherit;
    background-color: transparent;
  }

  svg {
    margin-bottom: 0.25rem;
  }
}
