apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Base configuration
resources:
  - ../../stack

# Common labels for dev environment
labels:
  - pairs:
      environment: dev

# Environment-specific ConfigMap
configMapGenerator:
  - name: env-specific-config
    literals:
      - ENV_NAME=recette
      - API_HOST=api.recette.trackdechets.fr
      - UI_HOST=recette.trackdechets.fr
      - NOTIFIER_HOST=notifier.recette.trackdechets.fr
      - SESSION_COOKIE_HOST=recette.trackdechets.fr
      - API_URL_SCHEME=https
      - UI_URL_SCHEME=https

# Patches for dev environment
patches:
  # Reduce replicas for dev
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: api
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: ui
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: notifier
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: queues-runner
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: queues-indexation
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: queues-webhooks
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: queues-gerico

  # Reduce database instances for dev
  - patch: |-
      - op: replace
        path: /spec/instances
        value: 1
    target:
      kind: Cluster
      name: postgres
      group: postgresql.cnpg.io
  - patch: |-
      - op: replace
        path: /spec/nodeSets/0/count
        value: 1
    target:
      kind: Elasticsearch
      name: elasticsearch
  - patch: |-
      - op: replace
        path: /spec/redisFollower/replicas
        value: 0
    target:
      kind: Redis
      name: redis
  - patch: |-
      - op: replace
        path: /spec/replsets/0/size
        value: 1
    target:
      kind: PerconaServerMongoDB
      name: mongodb

  # Update Ingress for recette environment
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: api.recette.trackdechets.fr
      - op: replace
        path: /spec/rules/1/host
        value: notifier.recette.trackdechets.fr
    target:
      kind: Ingress
      name: trackdechets-ingress
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: recette.trackdechets.fr
    target:
      kind: Ingress
      name: trackdechets-ui-ingress
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: notifier.recette.trackdechets.fr
    target:
      kind: Ingress
      name: trackdechets-notifier-sse
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: notifier.recette.trackdechets.fr
    target:
      kind: Ingress
      name: trackdechets-notifier-sse

  # Disable HPA for dev (fixed replicas)
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: api
      $patch: delete
    target:
      kind: HorizontalPodAutoscaler
      name: api
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: ui
      $patch: delete
    target:
      kind: HorizontalPodAutoscaler
      name: ui
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: notifier
      $patch: delete
    target:
      kind: HorizontalPodAutoscaler
      name: notifier
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: queues-runner
      $patch: delete
    target:
      kind: HorizontalPodAutoscaler
      name: queues-runner
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: queues-indexation
      $patch: delete
    target:
      kind: HorizontalPodAutoscaler
      name: queues-indexation
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: queues-bulk-indexation
      $patch: delete
    target:
      kind: HorizontalPodAutoscaler
      name: queues-bulk-indexation
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: queues-webhooks
      $patch: delete
    target:
      kind: HorizontalPodAutoscaler
      name: queues-webhooks
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: queues-gerico
      $patch: delete
    target:
      kind: HorizontalPodAutoscaler
      name: queues-gerico

images:
  # Use dev image tags
  - name: ghcr.io/mtes-mct/trackdechets/ui
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/api
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/notifier
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/cron
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/queues-runner
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/queues-indexation
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/queues-bulk-indexation
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/queues-bulk-indexation-master
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/queues-webhooks
    newTag: dev
  - name: ghcr.io/mtes-mct/trackdechets/queues-gerico
