.waste-details {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &__infos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px;
    width: 170px;
    &__code {
      margin: 0;
      padding: 0;
      font-size: 0.875rem; //14px
      font-weight: 700;
      line-height: 24px;
      color: #000091;
      width: fit-content;
    }
    &__name,
    &__workflow {
      margin: 0;
      padding: 0;
      font-size: 0.75rem; //12px
      line-height: 20px;
      color: #3a3a3a;
      width: fit-content;
    }
    &__workflow {
      font-weight: 700;
    }
  }
}
