@import "src/scss/Breakpoints.scss";

.waste-details {
  display: flex;
  box-sizing: border-box;
  padding: 5px 0;

  &__infos {
    display: flex;
    flex-direction: column;
    padding: 0 5px;

    @include desktop {
      width: 170px;
    }

    &__code {
      margin: 0;
      padding: 0;
      font-size: 0.875rem; //14px
      font-weight: 700;
      line-height: 24px;
      color: #000091;
      width: fit-content;
    }
    &__name,
    &__workflow {
      margin: 0;
      padding: 0;
      font-size: 0.75rem; //12px
      line-height: 20px;
      color: #3a3a3a;
      width: fit-content;
    }
    &__workflow {
      font-weight: 700;
    }
    &__weight {
      display: flex;
      align-items: center;
      position: relative;
      font-weight: 400;
      font-size: 0.75rem; //12px
      line-height: 20px;
      color: #161616;
      margin: 0 0 0 -35px;
      span {
        margin-left: 35px;
      }
      svg {
        position: absolute;
        left: -8px;
      }
    }
  }
}
