@import "../../../../scss/Breakpoints.scss";

.waste-details {
  display: flex;
  box-sizing: border-box;
  padding: 5px 0;
  width: 100%;
  &__infos {
    display: flex;
    flex-direction: column;
    padding: 0 5px;

    @include desktop {
      width: 170px;
    }
    @include lg-desktop {
      width: 180px;
    }

    @include xl-desktop {
      width: 215px;
    }

    &__code {
      margin: 0;
      padding: 0;
      font-size: 0.875rem; //14px
      font-weight: 700;
      line-height: 24px;
      color: #161616;
      width: fit-content;
    }
    &__name,
    &__workflow {
      margin: 0;
      padding: 0;
      font-size: 0.875rem; //14px
      line-height: 20px;
      color: #3a3a3a;
      width: fit-content;
    }
    &__name {
      width: 250px;
      @include desktop {
        width: 165px;
      }
      @include lg-desktop {
        width: 175px;
      }
      @include xl-desktop {
        width: 95%;
      }
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__workflow {
      font-weight: 700;
    }
    &__weight {
      display: flex;
      align-items: center;
      position: relative;
      font-weight: 400;
      font-size: 0.875rem; //14px
      line-height: 20px;
      color: #161616;
      margin: 0 0 0 -35px;
      span {
        margin-left: 35px;
      }
      svg {
        position: absolute;
        left: -8px;
      }
    }
  }
}
