<html>
  <head>
    <link rel="stylesheet" href="model.css" />
    <link rel="stylesheet" href="paper.min.css" />
  </head>
  <body class="A4">
    <section class="sheet padding-10mm">
      <div class="parent">
        <!-- Row 1 -->
        <div class="item div1 centered small">
          Arrêté du 2 mai 2012 relatif aux agréments des exploitants des centres
          VHU et aux agréments des exploitants des installations de broyage de
          véhicules hors d'usage
        </div>
        <div class="item div2 centered">
          <h1>Bordereau de suivi de Véhicules hors d’usage (VHU)</h1>
        </div>
        <div class="item div3 centered">
          <QRCodeIcon value="${form.readableId}" size="74" />
        </div>

        <!-- Row 2 -->
        <div class="item div4">
          N° Trackdéchets du Bordereau : ${form.readableId}
        </div>

        <!-- Row 3 -->
        <div class="item div5">
          <h2>1. Emetteur du Bordereau</h2>
          <div class="flex justify-center">
            <div>
              <input type="radio" id="e_demolisseur" name="emetteur" disabled />
              <label htmlFor="e_demolisseur">Démolisseur</label>
            </div>
            <div>
              <input type="radio" id="e_VHU" name="emetteur" disabled />
              <label htmlFor="e_VHU">Centre VHU</label>
            </div>
          </div>

          <div>
            <p>N° Agrément : ${form.emitterAgrementNumber}</p>
            <p>N° SIRET : ${form.emitterCompanySiret}</p>
            <p>NOM (Raison sociale) : ${form.emitterCompanyName}</p>
            <p>Adresse : ${form.emitterCompanyAddress}</p>
            <div class="flex">
              <p class="grow">Tel : ${form.emitterCompanyPhone}</p>
              <p class="grow">Mail : ${form.emitterCompanyMail}</p>
            </div>
            <p>
              Nom de la personne à contacter : ${form.emitterCompanyContact}
            </p>
          </div>
        </div>
        <div class="item div6">
          <h2>2. Installation de destination</h2>
          <div class="flex justify-center">
            <div>
              <input
                type="radio"
                id="d_broyeur"
                name="destination"
                defaultChecked="${ form.recipientType === 'BROYEUR'}"
                disabled
              />
              <label htmlFor="d_broyeur">Broyeur agréé</label>
            </div>

            <div>
              <input
                type="radio"
                id="d_demolisseur"
                name="destination"
                defaultChecked="${ form.recipientType === 'DEMOLISSEUR' }"
                disabled
              />
              <label htmlFor="d_demolisseur">Démolisseur agréé</label>
            </div>
          </div>

          <div>
            <p>N° Agrément : ${form.recipientAgrementNumber}</p>
            <p>N° SIRET : ${form.recipientCompanySiret}</p>
            <p>NOM (Raison sociale) : ${form.recipientCompanyName}</p>
            <p>Adresse : ${form.recipientCompanyAddress}</p>
            <div class="flex">
              <p class="grow">Tel : ${form.recipientCompanyPhone}</p>
              <p class="grow">Mail : ${form.recipientCompanyMail}</p>
            </div>
            <p>
              Nom de la personne à contacter : ${form.recipientCompanyContact}
            </p>
          </div>
        </div>

        <!-- Row 4 -->
        <div class="item div7">
          <h2>3. Le VHU sont conditionnés</h2>
          <div class="flex justify-center">
            <div>
              <input type="radio" id="unites" name="emetteur" disabled />
              <label htmlFor="unites">Unités</label>
            </div>
            <div>
              <input type="radio" id="lots" name="emetteur" disabled />
              <label htmlFor="lots">Lots</label>
            </div>
          </div>
        </div>
        <div class="item div8">
          <h2>4. Code déchet correspondant</h2>
          <div class="flex flex-column">
            <div>
              <input type="radio" id="16 01 06" name="emetteur" disabled />
              <label htmlFor="16 01 06">
                <strong>16 01 06</strong> (Véhicules hors d’usage ne contenant
                ni liquides ni autres composants dangereux)
              </label>
            </div>
            <div>
              <input type="radio" id="16 01 04*" name="emetteur" disabled />
              <label htmlFor="16 01 04*">
                <strong>16 01 04*</strong> (véhicules hors d’usage non dépollué
                par un centre agréé)
              </label>
            </div>
          </div>
        </div>

        <!-- Row 5 -->
        <div class="item div9">
          <h2>5. Identification du ou des VHU</h2>
          <p class="margin-bottom">
            Indiquer le <strong>numéro d’ordre des VHU</strong> concernés tels
            qu’ils figurent dans le livre de police (si « unités » coché en 3) :
          </p>

          <p class="margin-bottom">
            Indiquer le <strong>numéro du ou des lot(s)</strong> sortant(s),
            concerné(s) par ce bordereau le cas échéant (si « lots » coché en 3)
            :
          </p>

          <p class="small">
            L’exploitant conserve la liste des véhicules concernés par lot, à
            disposition des autorités. Dans tous les cas le livre de police doit
            être renseigné avec le numéro du BSD, la destination et le cas
            échéant, le numéro du lot
          </p>
        </div>
        <div class="item div10">
          <h2>6. Quantités</h2>
          <p>
            <strong>Nombre de VHU =</strong>
          </p>
          <p class="margin-bottom">
            (Obligatoire si « unités » coché en 3)
          </p>
          <p>
            <strong>En tonne (le cas échéant) =</strong>
          </p>
        </div>

        <!-- Row 6 -->
        <div class="item div11">
          <h2>7. Déclaration générale de l’émetteur du bordereau</h2>
          <p>Je soussigné (Nom, prénom) :</p>
          <p>
            Certifie que les renseignements portés dans les cadres ci-dessus
            sont exacts et de bonne foi.
          </p>
          <p>Date : _ _ / _ _ / _ _ _ _</p>
        </div>

        <!-- Row 7 -->
        <div class="item div12">
          <h2>8. Transporteur</h2>
          <div>
            <p>N° Agrément :</p>
            <p>N° SIRET :</p>
            <p>NOM (Raison sociale) :</p>
            <p>Adresse :</p>
            <div class="flex">
              <p class="grow">Tel :</p>
              <p class="grow">Mail :</p>
            </div>
            <p>Nom de la personne à contacter :</p>
          </div>
        </div>
        <div class="item div13">
          <div>
            <p>Récépissé n° :</p>
            <div class="flex">
              <p>Département :</p>
              <p class="grow">Date limite de validité :</p>
            </div>
            <p>Date de prise en charge :</p>
          </div>
        </div>

        <!-- Row 8 -->
        <div class="item div14">
          <h2>9. Installation de destination</h2>
          <div class="flex justify-center">
            <div>
              <input type="radio" id="d2_broyeur" name="destination" disabled />
              <label htmlFor="d2_broyeur">Broyeur agréé</label>
            </div>

            <div>
              <input
                type="radio"
                id="d2_demolisseur"
                name="destination"
                disabled
              />
              <label htmlFor="d2_demolisseur">Démolisseur agréé</label>
            </div>
          </div>

          <div class="margin-bottom">
            <p>N° Agrément :</p>
            <p>N° SIRET :</p>
            <p>NOM (Raison sociale) :</p>
            <p>Adresse :</p>
            <div class="flex">
              <p class="grow">Tel :</p>
              <p class="grow">Mail :</p>
            </div>
            <p>Nom de la personne à contacter :</p>
            <p>Date de présentation sur site :</p>
            <p>Quantité réelle présentée :</p>
          </div>

          <div class="flex">
            <p>Lot accepté :</p>
            <div>
              <input type="radio" id="oui" name="destination" disabled />
              <label htmlFor="oui">Oui</label>
            </div>
            <div>
              <input type="radio" id="non" name="destination" disabled />
              <label htmlFor="non">Non</label>
            </div>
            <div>
              <input
                type="radio"
                id="partiellement"
                name="destination"
                disabled
              />
              <label htmlFor="partiellement">Partiellement</label>
            </div>
          </div>

          <p class="margin-bottom">Motif de refus :</p>
          <p>N° du ou des lots entrant-s (*) :</p>
        </div>

        <div class="item div15">
          <h2>10. Réalisation de l’opération</h2>
          <div class="flex flex-column">
            <div>
              <input type="radio" id="R4" name="destination" disabled />
              <label htmlFor="R4">
                R4 –
                <span class="small">
                  Recyclage ou récupération des métaux et des composés
                  métalliques.
                </span>
              </label>
            </div>
            <div>
              <input type="radio" id="R12" name="destination" disabled />
              <label htmlFor="R12">
                R4 –
                <span class="small">
                  Regroupement préalable à R4 dans un centre VHU agréé
                </span>
              </label>
            </div>
          </div>
          <p class="margin-bottom">
            Date de réalisation: _ _ / _ _ / _ _ _ _
          </p>

          <p>Je soussigné (Nom, prénom) :</p>
          <p>
            Certifie que les mentions dans les cadres 9 et 10 sont exactes et
            que l’opération indiquée ci-dessus a été réalisée.
          </p>
        </div>
      </div>

      <p class="margin-bottom">
        (*) les VHU doivent être intégrés au livre de police de l’installation
        de destination (si démolisseur)
      </p>
      <p class="centered">
        <strong>
          Ce Bordereau doit accompagner tout transport de véhicules hors d’usage
        </strong>
      </p>
    </section>
  </body>
</html>
