@import "../../../scss/Constants.scss";
@import "../../../scss/Breakpoints.scss";
.detail {
  &Title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  &Status {
    color: $grey-darker;
    margin-right: 1rem;
  }
  &Content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }
  &Block {
    margin-top: 1rem;
    margin-right: 1rem;
    flex: 1 1;

    @include desktop {
      max-width: 400px;
    }
  }
  &Columns {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }
  &Grid {
    display: inline-grid;
    grid-template-columns: minmax(auto, 0.75fr) minmax(auto, 0.75fr);
    grid-auto-rows: minmax(1.5rem, max-content);
    grid-gap: 1rem;

    &:not(:last-child) {
      margin-right: 0.8rem;
    }
    dt {
      text-align: right;
      color: $grey-dark;
      font-weight: bold;
      overflow-wrap: break-word;
    }
    dd {
      overflow-wrap: break-word;
      padding-inline-start: 0;
    }
    .spanWidth {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .downloadLink {
      color: $blue;
      text-decoration: underline;
    }
  }
  &Summary {
    padding-bottom: 0.8rem;
  }
  &SummaryDsfr {
    //
    padding: 0.5rem 1rem 1rem 1rem;
  }
  &QRCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 0.75rem;
      margin-top: 1rem;
      text-align: center;
    }
  }
  &QRCodeIcon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @include desktop {
      margin-left: auto;
      width: 30%;

      order: 99;
    }
  }
  &Actions {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $grey;
    padding: 1rem;

    @include phone {
      flex-direction: row;
      justify-content: flex-end;
    }
    > * {
      // space buttons and divs
      margin-left: 1rem;
      margin-bottom: 1rem;
      @include phone {
        margin-bottom: 0;
      }
    }
  }
  &Tabs {
    background-color: #fff;
    display: flex;
  }
  &Tab {
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    border-bottom: 3px solid transparent;
    height: 64px;
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-bottom: 3px solid transparent;
    cursor: pointer;

    &Selected {
      border-bottom: 3px solid $blue;
    }
  }
  &TabCaption {
    color: $blue;
    font-size: 0.75rem;
    line-height: initial;
  }
  &TabPanels {
    border-top: 2px solid $blue;
    padding: 1rem 0;
    width: 100%;
  }
  &TabPanel {
    display: flex;

    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }
}
.WastePackaging {
  width: 100%;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  thead {
    th {
      border-bottom: 1px solid $grey;
    }
  }
  th {
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: $grey-lightest;
  }
}

.BsdasriIdentificationNumbersRow {
  padding: 1rem;
  border-top: 1px solid $grey;
  display: flex;
  dt {
    color: $grey-dark;
    font-weight: bold;
    margin-right: 1rem;
  }
}
