@import "../../../../scss/Breakpoints.scss";

.transporter {
  margin-bottom: 15px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0;
    position: relative;
    border: 1px lightgray;
    border-style: solid none;

    &.transporter-error {
      &:before {
        content: "";
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: #e2e8f0;
        display: block;
        pointer-events: none;
        position: absolute;
        top: 0;
        right: -0.75rem;
        bottom: 0;
        left: -0.75rem;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 0.125rem 100%;
        background-image: linear-gradient(
          0deg,
          var(--border-plain-error),
          var(--border-plain-error)
        );
      }

      .transporter__header__label {
        color: var(--text-default-error);
      }
    }
    @include desktop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__label {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 10px;

      @include desktop {
        margin-bottom: 0;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @include phone {
        flex-direction: row;
        justify-content: flex-end;
      }
    }

    &__button {
      margin: 0 7px;
    }
  }

  &__form {
    margin: auto;
    overflow: hidden;
    transition: max-height 0.4s ease-out;

    > div {
      padding-top: 15px;
    }
  }

  @media (max-width: 800px) {
    &__header {
      flex-direction: column;
    }
  }
}
