node_modules
npm-debug.log
Dockerfile*
docker-compose*
.git
.gitignore
README.md
LICENSE
.vscode
**/__tests__/**/*.pdf
tmp
logs
generated/
dsfr/
scripts
nginx
doc

# Allow the dist folder so Docker can see the built app
!dist