.env
.env.scaleway
.env.integration
.envrc
.vscode
.idea
*.pgsql
logs/
.data
docker-compose.override.yml
.nvmrc
/node_modules
/tmp
dist
/out-tsc
.nx/cache
.nx/workspace-data
generated
.DS_Store
.nx
.pgpass

# Generated Docusaurus files
.docusaurus/
.cache-loader/
vite.config.*.timestamp*
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

kubeconfig*.yaml
