.company-advanced {
  &__title {
    font-size: 1rem; //24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  &__modal-title {
    font-size: 1.5rem; //24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  &__description {
    font-size: 0.875rem; //14px;
    padding: 8px 0;
  }
  &__modal-description {
    font-size: 0.875rem; //14px;
    padding: 16px 0;
  }
  &__modal-cta {
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  &__section {
    margin-bottom: 1.5rem;
  }
}

.btn-red {
  background-color: #ce0500 !important;
}
