@import "../../scss/Constants.scss";

.Application {
  display: flex;
  margin-bottom: 0.3rem;
}
.ApplicationLogo {
  width: 100px;
  height: 100px;
  background-color: $grey-light;
  border-radius: 2px;
  overflow: hidden;
  margin-right: 1rem;

  img {
    width: 100%;
    height: 100%;
  }
}
.ApplicationDetails {
  flex: 1;
}
