@import "../../../../scss/Constants.scss";
@import "../../../../scss/Breakpoints.scss";

.sidebarv2 {
  width: 250px;
  max-height: 100%;
  padding: 0 8px;
  border-right: solid 1px $grey-light;
  position: sticky;
  top: 56px;
  flex-shrink: 0;

  &__item {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    line-height: 30px;
    border-left: 3px solid transparent;
    padding-left: 1rem;

    &--indented {
      padding-left: 1.2rem;
    }

    &--chapter {
      margin-top: 0.8rem;
      font-weight: bold;
    }

    &:hover {
      border-color: $blue-dark;
    }
  }

  &__item--active {
    font-weight: bold;
    border-color: $blue-dark;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    a {
      text-decoration: none;
      color: $black;
    }
  }

  .fr-accordion {
    &__btn {
      color: $black;
      font-weight: bold;
    }
  }
}
