@import "src/scss/Breakpoints.scss";
.bsd-card {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
   
    &__header {
        display: flex;
        align-items: center;
        color: #161616;
        margin-bottom: 24px;
        border-bottom: 1px solid #DDDDDD;
        p {
            margin: 2px;
            padding: 2px;
            font-size: 0.75rem; //12px
            line-height: 20px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        
        &__badge {
            width: 40%;
        }
    }
}