<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/bsda.css" />
    <link rel="stylesheet" href="../styles/paper.min.css" />
    <title>
      Bordereau de suivi de déchets dangereux contenant de l’amiante
    </title>
  </head>
  <body class="A4">
    <section class="sheet padding-10mm">
      <div class="parent">
        <div class="item frame-description">
          Art. R. 541-45 du code de l’environnement. Arrêté du 29 juillet 2005
        </div>
        <div class="item frame-title">
          <h1>
            Bordereau de suivi de déchets dangereux contenant de l’amiante
          </h1>
        </div>
        <div class="item frame-qr">TODO QR CODE</div>

        <div class="item frame-type">
          <p>J’édite un BSDA pour</p>
          <ul>
            <li>la collecte amiante sur un chantier</li>
            <li>la collecte en déchèterie relevant de la rubrique 2710-1</li>
            <li>
              le groupement de déchets en transit sur un site relevant de la
              rubrique 2718 (ou 2710-1)
            </li>
            <li>la réexpédition après entreposage provisoire</li>
          </ul>
        </div>

        <div class="item frame-number">N° Bordereau:</div>

        <div class="item frame-emitter">
          <h2>1. Maitre d'ouvrage ou détenteur du déchet</h2>

          <div>
            <div>
              <input
                type="radio"
                id="d_particulier"
                name="destination"
                defaultChecked="TODO"
                disabled
              />
              <label htmlFor="d_particulier"
                >Le MO ou le détenteur est un particulier</label
              >
            </div>
            <p>N° SIRET :</p>
            <p>NOM (Raison sociale) :</p>
            <p>Adresse :</p>
          </div>

          <div>
            <div class="flex">
              <p class="grow">Tel :</p>
              <p class="grow">Mail :</p>
            </div>
            <p>Nom du responsable :</p>

            <h4>Informations chantier (si différente)</h4>
            <p>Code chantier :</p>
            <p>Adresse chantier (si différente):</p>
          </div>
        </div>

        <div class="item frame-waste-codes">
          <h2>2. Déchets</h2>
          <p>Code déchet :</p>
          <p>Dénomination :</p>
          <p>Code famille :</p>
          <p>Nom du matériau :</p>
          <p>Quantité estimée en tonnes :</p>
        </div>

        <div class="item frame-emitter-signature">
          <h2>1.1 Signature</h2>
          <p>Je soussigné :</p>
          <p>
            Certifie que les renseignements portés dans les cadres 1 et 2 sont
            exacts et de bonne foi
          </p>
          <p>Date :</p>
        </div>

        <div class="item frame-waste-description">
          <h2>2.1 Déchets</h2>
          <p>Consistance :</p>
          Solide [ ] pulvérulents [ ] autre [ ]
          <p>Conditionnement/nombre</p>
          <p>
            Palette filmée - Q=2 Big-bag amiante - Q=10 Conteneur-Bag - Q= 0
          </p>
          <p>Dépôt-bag - Q=0 Sac renforcé - Q=0 Autre: Q=0</p>
          <h4>
            Mention au titre des règlements ADR/RID/ADN/IMDG (le cas échéant):
          </h4>
        </div>

        <div class="item frame-waste-sealed">
          <h2>2.2 Numéros de scellés</h2>
        </div>

        <div class="item frame-trader"><h2>3. Courtier</h2></div>

        <div class="item frame-destination">
          <h2>4. Installation de destination</h2>
          <div>
            <p>N° SIRET :</p>
            <p>NOM (Raison sociale) :</p>
            <p>Adresse :</p>
          </div>

          <div>
            <div class="flex">
              <p class="grow">Tel :</p>
              <p class="grow">Mail :</p>
            </div>
            <p>Nom de la personne à contacter :</p>
            <p>N° CAP (le cas échéant) :</p>
            <p>Code D/R prévu :</p>
          </div>
        </div>

        <div class="item frame-worker"><h2>5. Entreprise de travaux</h2></div>

        <div class="item frame-worker-consent">
          <h2>Version papier</h2>
          <p>
            je certifie disposer d’une version papier, signée du MOA et de
            moi-même, que je dois conserver 5 ans (copie MOA)
          </p>
        </div>

        <div class="item frame-worker-signature">
          <h2>5.1 Signature</h2>
          <p>Je soussigné :</p>
          <p>
            Certifie que les renseignements portés dans les cadres ci-avant sont
            exacts et de bonne foi
          </p>
          <p>Date :</p>
        </div>

        <div class="item frame-transporter">
          <h2>6. Transporteur 1</h2>
          <div>
            <p>N° SIRET :</p>
            <p>NOM (Raison sociale) :</p>
            <p>Adresse :</p>
            <p>Tel :</p>
            <p>Mail :</p>
            <p>Nom de la personne à contacter :</p>
          </div>

          <div>
            <p>Récépissé n°:</p>
            <p>Département :</p>
            <p>Date de prise en charge :</p>
          </div>
        </div>

        <div class="item frame-destination-reception">
          <h2>7. Réception</h2>
        </div>

        <div class="item frame-destination-operation">
          <h2>8. Réalisation de l'opétation</h2>
        </div>
      </div>
    </section>
  </body>
</html>
