@import "../../../scss/Constants.scss";

.token {
  padding: 0.5em;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
}

.newToken {
  background-color: $green-light;
}

.newTokenGroupItems {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkIcon {
  color: $green;
}

.copyToClipboardIcon {
  width: 1.1em;
  height: auto;
  color: $blue;
}

.copyToClipboardIcon:hover {
  cursor: pointer;
}

.lastUsed {
  color: $grey;
}
