@import "../../../../scss/Constants.scss";
@import "../../../../scss/Breakpoints.scss";

.wrap {
  flex-wrap: wrap;
}

.header {
  background-color: #fff;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(246, 246, 246);
  display: flex;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 12, 0.16);
  position: sticky;
  top: 0;
  z-index: 99;

  &.headerLogin {
    .headerContent {
      max-width: 78rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin: 0 auto;
    }
  }
}

.headerBranding {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 36px;

  a {
    display: flex;
  }
}

.headerContent {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 36px;

  @include desktop {
    justify-content: flex-start;
  }

  .headerNav {
    display: none;

    @include desktop {
      display: flex;
    }
  }

  .headerNavList {
    @include desktop {
      flex-direction: row;
    }
  }

  .headerActions {
    margin-left: auto;
    display: none;
    align-items: center;

    @include desktop {
      display: flex;
    }
  }
}

.headerToggle {
  @include desktop {
    display: none;
  }
}

.headerMobile {
  @include desktop {
    display: none;
  }
}

.companySelector {
  display: block;
  padding: 16px;

  @include desktop {
    display: none;
  }
}
