apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: backend-secrets
  namespace: trackdechets-backend
  labels:
    app.kubernetes.io/name: backend-secrets
    app.kubernetes.io/component: secrets
    app.kubernetes.io/part-of: trackdechets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: backend-secretstore
    kind: SecretStore
  target:
    name: backend-secrets
    creationPolicy: Owner
    template:
      type: Opaque
  dataFrom:
    - extract:
        key: backend-secretstore