@import "src/scss/Breakpoints.scss";
.bsd-card {
  background: #ffffff;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;

  @include desktop {
    padding: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    color: #161616;
    padding: 0 15px;

    p {
      margin: 2px;
      padding: 2px;
      font-size: 0.75rem; //12px
    }
    @include desktop {
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #dddddd;
    }

    .bsd-number {
      margin: 2px;
      padding: 2px;
      font-size: 1.125rem; //18px
      line-height: 28px;
      color: #000091;
      @include desktop {
        font-size: 0.75rem; //12px
        line-height: 20px;
        color: #161616;
      }
    }
    .workflow-type {
      font-weight: bold;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px 15px;

    @include desktop {
      flex-direction: row;
      align-items: center;
    }

    &__badge {
      @include desktop {
        width: 95%;
        margin-right: 10px;
      }
    }
    &__waste {
      margin-top: 15px;
      @include desktop {
        margin: 0 10px 0 0;
        .waste-details {
          width: 145px;
        }
      }
    }
    &__actors {
      margin: 15px 0;
      @include desktop {
        margin: 0;
        width: 100%;
      }
    }

    &__cta {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .fr-btn {
        margin: 0 2px;
      }
    }
  }
}
