@import "../../../../scss/Breakpoints.scss";
.bsd-card-border {
  border-bottom: 1px solid #dddddd;
  width: 100%;
  margin: 8px 0;
}
.bsd-card {
  background: #ffffff;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 0;

  @include desktop {
    min-height: 120px;
    padding: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    color: #161616;
    padding: 2px 8px;

    p {
      font-size: 0.875rem; //14px
    }

    &__infos {
      display: flex;
      flex-wrap: wrap;

      p {
        padding: 0 5px;
      }
    }

    @include desktop {
      & > div {
        display: flex;

        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #dddddd;
        width: 100%;
      }
      &__infos {
        p {
          padding: 0 10px;
        }
      }
    }

    .bsd-number,
    .bsd-custom-id {
      font-size: 0.875rem; //14px
      color: #161616;
    }
    .workflow-type {
      display: flex;
      align-items: center;
      &:before {
        display: inline-block;
        content: "";
        background-image: url("/icons/dashboard/icon-bsd-workflow-type.svg");
        width: 24px;
        height: 24px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 2px 8px;
    flex-wrap: wrap;

    @include desktop {
      flex-direction: row;
      align-items: center;
    }

    &__infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__status {
        width: 100%;

        .fr-badge {
          margin: 5px 0;
          width: fit-content;
        }
      }
      .waste-details,
      .actors {
        width: 100%;
      }

      @include desktop {
        flex-direction: row;
        align-items: center;
        flex: 2;
      }
    }

    &__cta {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .fr-btn {
        margin: 10px 2px;
      }

      @include desktop {
        flex: 1;
      }
    }
  }
}
