@import "src/scss/Breakpoints.scss";
.bsd-card {
  background: #ffffff;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  &__header {
    display: flex;
    flex-direction: column;
    color: #161616;
    padding: 2px 8px;

    p {
      font-size: 0.75rem; //12px
    }

    @include desktop {
      & > div {
        display: flex;

        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #dddddd;
        width: 100%;
      }

      p {
        padding: 0 4px;
      }
    }

    .bsd-number {
      margin: 2px;
      padding: 2px;
      font-size: 1.125rem; //18px
      line-height: 28px;
      color: #000091;
      @include desktop {
        font-size: 0.75rem; //12px
        line-height: 20px;
        color: #161616;
      }
    }
    .workflow-type {
      margin: 0;
      display: flex;
      align-items: center;
      &:before {
        display: inline-block;
        content: "";
        background-image: url("/icons/dashboard/icon-bsd-workflow-type.svg");
        width: 24px;
        height: 24px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 2px 8px;

    @include desktop {
      flex-direction: row;
      align-items: center;
    }

    &__infos {
      display: flex;
      flex-direction: column;

      &__status {
        margin: 5px 0;
      }

      &__weight {
        position: relative;
        margin: 10px 0 0 8px;
        font-weight: 400;
        font-size: 0.75rem; //12px
        line-height: 20px;
        color: #161616;
        span {
          position: absolute;
          top: -2px;
          padding-left: 18px;
        }
        svg {
          width: 16px;
          height: 16px;
        }
      }

      @include desktop {
        flex-direction: row;
        align-items: center;
        flex: 2;

        &__status {
          margin: 0;
          width: 285px;
        }
      }

      &__other {
        display: flex;
        flex-direction: column;

        .waste-details,
        .actors {
          margin: 5px 0;
        }

        @include desktop {
          flex-direction: row;

          .waste-details {
            width: 170px;
            margin: 0 16px;
          }

          .actors {
            width: 230px;
            margin: 0 50px 0 20px;
          }
        }
      }
    }

    &__cta {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include desktop {
        flex: 1;
      }

      .fr-btn {
        margin: 0 2px;
      }
    }
  }
}
