@import "../scss/Constants.scss";

.dialog-container {
  margin: 50px auto;
  width: 40%;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex > * {
  margin: 0 20px;
}

.hr {
  margin-top: 10px 0;
  border-bottom: 1px solid $grey-light;
}

.redirect {
  margin-top: 20px;
}
