@import "../../../../scss/Constants.scss";

/* Absolute Center Spinner */
.loader {
  margin: auto;
  border: 8px solid $grey-lighter; /* Light grey */
  border-top: 8px solid $grey-dark; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loaderAbsolute {
  position: fixed;
  overflow: show;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loaderModal {
  display: "flex";
  align-items: "center";
  justify-content: "center";
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
