@import "front/src/scss/Constants.scss";

.field {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 1em;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid $grey-lighter;

  table {
    border-collapse: collapse;
  }

  td {
    padding-right: 1em;
    padding-bottom: 1em;
    vertical-align: top;
  }

  tr td:last-of-type {
    padding-right: 0;
  }

  tr:last-of-type td {
    padding-bottom: 0;
  }

  form {
    margin: 0;
    width: 100%;
  }

  input:not([type="checkbox"]) {
    width: 300px;
  }
}

.tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field__value {
  margin-left: 1em;
  margin-right: 1em;
  width: 100%;

  ul {
    margin: 0;
    padding: 0 1em;
  }
}

.field:last-of-type {
  border-bottom: 1px solid $grey-lighter;
}

.editing {
  border-left: 5px solid $blue;
}

.field > label,
.field > .label {
  flex-shrink: 0;
  font-weight: bold;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modifier {
  margin-left: auto;
  width: 200px;
}

.modifier:hover {
  cursor: pointer;
}

.ellipsis {
  display: inline-block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
