<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="paper.css" />
    <link rel="stylesheet" href="dasri.css" />
  </head>
  <body class="A4">
    <section class="sheet padding-10mm">
      <div class="parent">
        <div class="item div2 centered">
          <p>Ministère en charge de la Santé</p>
          <h1>Bordereau de suivi de déchets de soins à risques infectieux</h1>
          <p style="font-size: 0.7em">
            Document utilisé pour les DASRI, pour toutes les prises en charges
            initiales quel qu'en soit le poids
          </p>
        </div>
        <div class="item div3">
          <p><strong style="font-size: 1.2em">CERFA 11351*04</strong></p>
          <p style="font-size: 0.7em">
            Code de la Santé publique art. R 1335-4
          </p>
          <p style="font-size: 0.7em">Arrêté du 7 septembre 1999</p>
          <p style="font-size: 0.7em">Arrêté du 29 mai 2009</p>
        </div>
        <div class="item qr-code centered">
         {{{ qrcode }}} 
        </div>

        <!-- Row 2 -->
        <div class="item dasri-id-numbers">
          <p>
            <strong
              >N° de Bordereau Trackdéchets : {{bsdasri.id}}</strong
            >
          </p>

          <p><strong>Numéro ou indication libre:</strong></p>
          <p style="margin-top: 2em">
            <input type="checkbox" {{#if bsdasri.ecoOrganismeSiret}}checked{{/if}}/> L'éco-organisme DASTRI est identifié pour
            assurer la prise en charge et la traçabilité
          </p>
        </div>

        <!-- Row 3 -->
        <div class="item emitter">
          <h2 class="underlined">
            Personne responsable de l'élimination des déchets
          </h2>

          <p><strong>N° SIRET : </strong>{{bsdasri.emitterCompanySiret}}</p>
          <p><strong>NOM Société : </strong>{{bsdasri.emitterCompanyName}}</p>
          <p>
            <strong>Adresse postale : </strong>{{bsdasri.emitterCompanyAddress}} 
          </p>


          <p>
            <strong>Personne à contacter : </strong>{{bsdasri.emitterCompanyContact}}
          </p>
          <p>
          <strong>Adresse email : </strong>{{bsdasri.emitterCompanyMail}}
          </p>
          <p>      
          <strong>Téléphone : </strong>{{bsdasri.emitterCompanyPhone}} 
          </p>
             

          <p><strong>Adresse collecte :</strong>
            {{bsdasri.emitterPickupSiteName}} {{bsdasri.emitterPickupSsiteAddress}} {{bsdasri.emitterPickupSitePostalCode}}  {{bsdasri.emitterPickupSiteCity}}</p>
          <p><strong>Nom et signature de la PRED : </strong>{{bsdasri.emitterEmissionSignatureAuthor}}</p>
          <p>{{#if bsdasri.emitterEmissionSignatureAuthor}}{{{dasristamp}}}{{/if}}</p>
          <p><strong>Date de remise au collecteur transporteur :</strong>
         {{dateFmt bsdasri.transporterTakenOverAt}} 
          </p>
        </div>

        <div class="item emission-wastecode">
          <h2>Code nomenclature déchets</h2>
          <p>
            <input type="checkbox" {{#ifEquals bsdasri.wasteCode "18 01 03*"}}checked{{/ifEquals}} /> 18 01 03*: DASRI origine humaine 
          </p> 
          
          <p><input type="checkbox" {{#ifEquals bsdasri.wasteCode "18 01 02*"}}checked{{/ifEquals}}/> 18 01 02*: DASRI origine animale</p>
        
     
        </div> 
        <div class="item emission-onucode">
          <p><strong>Code ADR : </strong> {{bsdasri.wasteAdr}}  </p>
        </div>
        <div class="item emission">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Contenants</th>
                <th>Capacité en litres</th>
              </tr>
            </thead>
            <tbody>
            {{#each bsdasri.emitterWastePackagings}}
            <td>{{this.quantity}}</td>
            <td>{{this.type}}</td>
            <td>{{this.volume}}</td>
          {{/each}}
            </tbody>
          </table>
          <p style="display: flex">
            <span style="flex: 50%"><strong>Nbre de contenants :</strong>  {{sumPackageQuantity bsdasri.emitterWastePackagings}}</span
            ><span style="flex: 50%"> <strong>Volume total : </strong>{{bsdasri.emitterWasteVolume}}</span>
          </p>
          <p style="display: flex">
            <span style="flex: 50%"><strong>Quantité remise : </strong>{{bsdasri.emitterWasteQuantity}}</span
            ><span style="flex: 50%"
              ><input type="checkbox" {{#ifEquals bsdasri.emitterWasteWeightIsEstimate false }}checked{{/ifEquals}}/> Réélle
              <input type="checkbox" {{#ifEquals bsdasri.emitterrWasteWeightIsEstimate true }}checked{{/ifEquals}}/> Estimée</span
            >
          </p>
        </div>

        <!-- Row 4 -->
        <div class="item transporter">
          <h2 class="underlined">Collecteur / Transporteur</h2>

          <p><strong>N° SIRET : </strong>{{bsdasri.transporterCompanySiret}}</p>
          <p><strong>NOM Société : </strong>{{bsdasri.transporterCompanyName}}</p>
          <p><strong>Adresse postale :</strong>{{bsdasri.transporterCompanyAddress}}</p>


          <p><strong>Personne à contacter :</strong>{{bsdasri.transporterCompanyContact}}</p>
          <p><strong>Adresse email :</strong>{{bsdasri.transporterCompanyMail}}</p>
          <p><strong>Téléphone :</strong>{{bsdasri.transporterCompanyPhone}}</p>
          <p><strong>Mode de transport :</strong>{{verboseTransportMode bsdasri.transporterTransportMode}}</p>
          <p><strong>Nom et signature : </strong>{{bsdasri.transporterTransportSignatureAuthor}}</p>
          <p>{{#if bsdasri.transporterTransportSignatureAuthor}}{{{dasristamp}}}{{/if}}</p>

          <p><strong>Date de remise à l'installation destinataire :</strong>
           {{dateFmt bsdasri.handedOverToRecipientAt}} </p>
        </div>
        <div class="item transport">
          <p>
            <strong>Lot accepté :</strong> 
            <input type="checkbox" {{#ifEquals bsdasri.transporterAcceptationStatus "ACCEPTED"}}checked{{/ifEquals}}/> Oui
            <input type="checkbox" {{#ifEquals bsdasri.transporterAcceptationStatus "REFUSED"}}checked{{/ifEquals}}/> Non
            <input type="checkbox" {{#ifEquals bsdasri.transporterAcceptationStatus "PARTIALLY_REFUSED"}}checked{{/ifEquals}}/> Partiellement
          </p>

          <p>
            <strong>Quantité refusée : </strong>{{bsdasri.transporterWasteRefusedWeightValue}}
          </p>
          <p><strong>Motif de refus : </strong>{{bsdasri.transporterWasteRefusalReason}}</p>

          <p><strong>Date : </strong>{{dateFmt bsdasri.transporterTakenOverAt}}</p>

          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Contenants</th>
                <th>Capacité en litres</th>
              </tr>
            </thead>
            <tbody>
        
          {{#each bsdasri.transporterWastePackagings}}
            <td>{{this.quantity}}</td>
            <td>{{this.type}}</td>
            <td>{{this.volume}}</td>
          {{/each}}
              
            </tbody>
          </table>
          <p style="display: flex">
            <span style="flex: 50%"><strong>Nbre de contenants : </strong>{{sumPackageQuantity bsdasri.transporterWastePackagings}} </span
            ><span style="flex: 50%"> <strong>Volume total : </strong>{{bsdasri.transporterWasteVolume}}</span>
          </p>
          <p style="display: flex">
            <span style="flex: 50%"><strong>Quantité remise : </strong>{{bsdasri.transporterWasteWeightValue}} </span
            ><span style="flex: 50%"
              ><input type="checkbox" {{#ifEquals bsdasri.transporterWasteWeightIsEstimate false}}checked{{/ifEquals}}/> Réélle
              <input type="checkbox"{{#ifEquals bsdasri.transporterWasteWeightIsEstimate true}}checked{{/ifEquals}}/> Estimée</span
            >
          </p>
        </div>

        <!-- Row 5 -->
        <div class="item recipient">
          <h2 class="underlined">Installation destinataire</h2>

          <p><strong>N° SIRET :</strong>{{bsdasri.destinationCompanySiret}}</p>
          <p><strong>NOM Société :</strong>{{bsdasri.destinationCompanyName}}</p>
          <p><strong>Adresse postale :</strong>{{bsdasri.destinationCompanyAddress}}</p>


          <p><strong>Personne à contacter :</strong>{{bsdasri.destinationCompanyContact}}</p>
          <p>
 <strong>Adresse email :</strong>{{bsdasri.destinationCompanyMail}} </>
 <p>    <strong>Téléphone :</strong>{{bsdasri.destinationCompanyPhone}}
          </p>
        </div>
        <div class="item reception">
          <p>
            <strong>Lot accepté :</strong> 
            <input type="checkbox" {{#ifEquals bsdasri.destinationReceptionAcceptationStatus "ACCEPTED"}}checked{{/ifEquals}}/> Oui
            <input type="checkbox" {{#ifEquals bsdasri.destinationReceptionAcceptationStatus "REFUSED"}}checked{{/ifEquals}}/> Non
            <input type="checkbox" {{#ifEquals bsdasri.destinationReceptionAcceptationStatus "PARTIALLY_REFUSED"}}checked{{/ifEquals}}/> Partiellement
          </p>

          <p>
            <strong>Quantité refusée :</strong>{{bsdasri.destinationReceptionWasteRefusedWeightValue}}</p>
          <p><strong>Motif de refus :</strong>{{bsdasri.destinationReceptionWasteRefusalReason}}</p>

          <p><strong>Date :</strong>{{dateFmt bsdasri.destinationReceptionDate}}</p>

          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Contenants</th>
                <th>Capacité en litres</th>
              </tr>
            </thead>
            <tbody>
           
         
          {{#each bsdasri.destinationWastePackagings}}
            <td>{{this.quantity}}</td>
            <td>{{this.type}}</td>
            <td>{{this.volume}}</td>
          {{/each}}
            </tbody>
          </table>

          <p style="display: flex">
            <span style="flex: 50%"><strong>Nbre de contenants : </strong> 
              {{sumPackageQuantity bsdasri.destinationWastePackagings}} 
              </span
            ><span style="flex: 50%"> <strong>Volume total :</strong>{{bsdasri.destinationReceptionWasteVolume}}</span>
          </p>
          <p style="display: flex">
            <span style="flex: 50%"><strong>Quantité remise :</strong>{{bsdasri.destinationReceptionWasteWeightValue}}</span
            > 
 
          </p>
        </div>
        <div class="item operation-signature">
          <p>
            Je soussigné.e, certifie que l’opération indiquée ci-contre a bien
            été réalisée pour la quantité de déchets renseignée.
          </p>
          <p>
            <strong>Nom et Signature du responsable de l'exploitation :</strong> {{bsdasri.operationSignatureAuthor}}
            <p>  {{#if bsdasri.operationSignatureAuthor}}{{{dasristamp}}}{{/if}}</p>

          </p>
        </div>
        <div class="item operation">
          <h2>Opération (code de traitement)</h2>
          <p><input type="checkbox" {{#ifEquals  bsdasri.destinationOperationCode "D9"}}checked{{/ifEquals}}/> Prétraitement par désinfection (D9)</p>
          <p><input type="checkbox" {{#ifEquals  bsdasri.destinationOperationCode "D10"}}checked{{/ifEquals}}/> Incinération D10</p>
          <p><input type="checkbox" {{#ifEquals  bsdasri.destinationOperationCode "D12"}}checked{{/ifEquals}}/> Regroupement avant D9 ou D10 (D12)</p>
          <p>
            <input type="checkbox" {{#ifEquals  bsdasri.destinationOperationCode "R1"}}checked{{/ifEquals}}/> Incinération + valorisation energétique
            (R1)
          </p>
          <p><input type="checkbox" {{#ifEquals  bsdasri.destinationOperationCode "R12"}}checked{{/ifEquals}} /> Regroupement avant R1 (R12)</p>
          <p><strong>Date de l'opération:</strong>
            {{dateFmt bsdasri.destinationOperationDate}}</p> 
        </div>
      </div>
    </section>
  </body>
</html>
