@import "../../../../scss/Breakpoints.scss";

.formSteps {
  &__tabs {
    min-height: 98vh;
    @media only screen and (min-device-width: 820px) and (max-device-width: 1024px) {
      min-height: 65vh;
      max-height: auto;
    }
    @media only screen and (min-width: 1025px) {
      min-height: auto;
      overflow: hidden;
      overflow-y: scroll;
      max-height: 500px;
      &--height {
        max-height: 420px;
      }
    }
  }
  &__error {
    padding-bottom: 15px;
  }

  &__footer {
    position: sticky;
    background-color: #fff;
    bottom: 0;
    display: flex;
    padding: 15px 0;

    @media only screen and (min-width: 1025px) {
      background-color: none;
      position: absolute;
      flex-direction: row;
      padding-bottom: 30px;
      width: 94%;
    }
    gap: 10px;
    justify-content: space-between;
    button {
      margin: 2px;
    }
  }

  .tabError {
    background-color: var(--light-background-contrast-error, #ffe9e9);
    &[aria-selected="true"]:not(:disabled) {
      color: var(--text-action-high-grey);
      background-image: linear-gradient(
          0deg,
          var(--background-flat-error),
          var(--background-flat-error)
        ),
        linear-gradient(
          0deg,
          var(--border-default-grey),
          var(--border-default-grey)
        ),
        linear-gradient(
          0deg,
          var(--border-default-grey),
          var(--border-default-grey)
        ),
        linear-gradient(
          0deg,
          var(--border-default-grey),
          var(--border-default-grey)
        );
    }
    &[aria-selected="true"]:not(:disabled):hover {
      background-color: var(--hover-tint);
    }
    &:not(:disabled):hover {
      background-color: var(
        --light-primary-red-marianne-850-red-marianne-850-hover,
        #fb8f8f
      );
    }
  }
}
