.transporter{
    &__department{
        width: 100px;
        display: block;
    }
    &__validity-limit{
        width: 160px;
        display: block;
    }
    &__number-plate{
        width: 200;
        display: block;
    }
}