.myExportsForm {
  max-width: 30rem;
}

.myRegistryExportsContainer {
  width: 100%;
}
.fullWidthTable {
  > table {
    display: table;
    word-break: break-word;
  }
}

.dateButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.prewrap {
  white-space: pre-wrap;
}

.badge {
  word-break: normal;
}

.delegationHint {
  font-size: 0.875rem;
  color: var(--text-mention-grey);
}
