.revision-modal {
  &__btn {
    display: flex;
    justify-content: flex-end;
    .fr-btn {
      margin: 0 5px;
    }
  }
}

.revision-modal-loader {
  min-height: 30vh;
  display: flex;
  justify-content: center;

  :first-child {
    display: flex;
  }
}
