@import "scss/Constants.scss";

.BSDDActionsToggle {
  font-size: 0.8rem;
  display: inline-flex;
  flex-direction: column;
  padding: 0.25rem 1rem;

  svg {
    flex: 1 0 auto;
  }
}

.BSDDActionsMenu {
  padding: 0;
  border-radius: $common-radius;
  font-size: 0.8rem;
  border-color: $blue-dark;

  [data-reach-menu-item] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    &:focus,
    &:hover,
    &[data-selected] {
      opacity: 0.6;
      color: inherit;
      background-color: transparent;
    }

    svg {
      margin-bottom: 0.25rem;
    }
  }
}

.dropdownArrow {
  margin-left: 0.25em;
}

.BSDDropdown {
  width: 280px;
}

.BSDActions {
  > div {
    button,
    a {
      font-size: 0.8rem;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
