@import "../../../scss/Constants.scss";

.BSDListActions {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.ButtonGroup {
  > * {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $common-radius;
      border-bottom-left-radius: $common-radius;
    }

    &:last-child {
      border-top-right-radius: $common-radius;
      border-bottom-right-radius: $common-radius;
    }
  }
}
