@import "scss/Breakpoints.scss";
.dynamicAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  &Content {
    display: flex;
    align-items: center;
    flex-direction: column;
    svg {
      width: 24px;
      flex-shrink: 0;
    }
    @include lg-desktop {
      flex-direction: row;
    }
  }
  &Text {
    display: none;
    overflow-wrap: break-word;

    @include desktop {
      display: inline-block;
      margin-left: 6px;
      font-size: 0.5rem;
      font-weight: bold;
      line-height: 1rem;
    }
    @include lg-desktop {
      font-size: 0.75rem;
    }
  }
  &Caption {
    margin-top: 0.25rem;
    font-size: 0.5rem;
    display: inline-block;
    text-align: center;
    @include desktop {
      display: none;
    }
  }
}
