@import "../../scss/Buttons.scss";

.ActionButton {
  @extend .btn;
}

.ActionButtonSmall {
  @extend .btn;

  display: inline-flex;
  flex-direction: column;
  height: auto;
  padding: 0.5rem;

  .ActionButtonIcon {
    margin: 0 0 0.5rem 0;
  }
  .ActionButtonContent {
    font-size: 0.7rem;
    margin: 0;
    text-align: center;
  }
}
