@import "../scss/Constants.scss";
@import "../scss/Breakpoints.scss";
.SideMenu {
  background-color: er;
  flex: 0 1 auto;
  padding: 0 10px 10px 0;

  // @media (min-width: 748px) and(max-width: 1110px) {
  //   max-width: 140px;
  // }
  // @media (min-width: 1111px) {
  //   min-width: 240px;
  // }

  
}
 