@import "../../scss/Constants.scss";
@import "../../scss/Breakpoints.scss";

.sidebar {
  width: $sidebar-width;
  min-width: $sidebar-width;
  background-color: $grey-lighter;

  &__chapter {
    font-weight: bold;
    padding: 1rem 0 0.5rem 1rem;
    color: #223540;
    font-size: rem;
    margin: 0;
  }
  &__link {
    display: block;
    height: 30px;
    line-height: 30px;
    border-left: 3px solid transparent;
    padding-left: 1rem;
    &--indented {
      padding-left: 1.75rem;
    }
    &--chapter {
      margin-top: 0.5rem;
      font-weight: bold;
    }
    &:hover {
      background-color: $white !important;
      border-color: $blue-dark;
    }
  }

  &__link--active {
    font-weight: bold;
    background-color: $white !important;
    border-color: $blue-dark;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: $black;
    }
  }
}
