@import "../../scss/Breakpoints.scss";

.Stepper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 0 0 1rem 0;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  padding: 15px 0;

  @include xs-phone {
    display: none;
  }
}

.StepperItem {
  outline: none;
  cursor: pointer;
  flex: 2;
  position: relative;
  padding: 0 0 14px 0;
  line-height: 1.5;
  color: #006be6;
  font-weight: 600;
  overflow: visible;
  min-width: 0;
  text-align: center;
  border-bottom: 2px solid #ebeff3;

  &:first-child,
  &:last-child {
    flex: 1;
  }

  &:first-child {
    text-align: left;

    &::before {
      left: 0;
    }
  }
  &:last-child {
    text-align: right;

    &::before {
      right: 0;
      left: auto;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ebeff3;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: absolute;
    left: calc(50% - 6px);
    bottom: -7px;
    z-index: 3;
    transition: all 0.2s ease-in-out;
  }
}

.StepperItemContent {
  transition: opacity 0.3s ease-in-out;
}
.StepperItem:not(.StepperItemActive) .StepperItemContent {
  opacity: 0.5;
}

.StepperItemComplete:not(:first-child)::after,
.StepperItemActive:not(:first-child)::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -50%;
  z-index: 2;
  border-bottom: 2px solid #006be6;
}

.StepperItemComplete:last-child::after,
.StepperItemActive:last-child::after {
  width: 200%;
  left: -100%;
}

.StepperItemComplete::before {
  background-color: #006be6;
}

.StepperItemActive::before,
.StepperItem:focus::before,
.StepperItem:hover::before {
  background-color: #ebeff3;
  border-color: #006be6;
}
.StepperItem:focus::before,
.StepperItem:hover::before {
  transform: scale(1.33);
}
.StepperItem:focus .StepperItemContent,
.StepperItem:hover .StepperItemContent {
  opacity: 1;
}
