@import "front/src/scss/Constants.scss";
@import "front/src/scss/Breakpoints.scss";

.Table {
  width: 100%;
}
.TableSelectable .TableBody .TableRow {
  &:focus,
  &:hover {
    background-color: $grey-lighter;
  }
}

.TableHead {
  background-color: $grey-light;
}

.TableBody {
}

.TableRow {
}

.TableHeaderCell,
.TableCell {
  font-size: 14px;
  padding: 8px 20px;
  border-bottom: 1px solid $grey-light;
  max-width: 220px;
  word-wrap: break-word;

  @include xl-desktop {
    max-width: 400px;
  }
}

.TableRowDigest .TableCell {
  border-top: 3px solid $grey-light;
}

.TableHeaderCell {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

.TableCell {
}

.TableSortIcon {
  display: none;
  margin: 0 0.5rem;
  visibility: hidden;
}
.TableSortIconVisible {
  display: inline;
}
