.button {
  cursor: pointer;
  align-self: center;
  margin-left: 8px;
  display: inline-block;
}

.tooltip {
  --tooltipBackground: hsla(0, 0%, 0%, 0.75);
  --tooltipBorder: hsla(0, 0%, 0%, 0.75);
  --tooltipColor: white;

  background-color: var(--tooltipBackground);
  border-radius: 3px;
  border: 1px solid var(--tooltipBorder);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  color: var(--tooltipColor);
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  transition: opacity 0.3s;
  z-index: 9999;
  font-weight: normal;
}

.tooltip[data-popper-interactive="false"] {
  pointer-events: none;
}

.arrow {
  height: 1rem;
  position: absolute;
  width: 1rem;
  pointer-events: none;
}

.arrow::before {
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  margin: auto;
  width: 0;
}

.arrow::after {
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  margin: auto;
  position: absolute;
  width: 0;
}

.tooltip[data-popper-placement*="bottom"] .arrow {
  left: 0;
  margin-top: -0.4rem;
  top: 0;
}

.tooltip[data-popper-placement*="bottom"] .arrow::before {
  border-color: transparent transparent var(--tooltipBorder) transparent;
  border-width: 0 0.5rem 0.4rem 0.5rem;
  position: absolute;
  top: -1px;
}

.tooltip[data-popper-placement*="bottom"] .arrow::after {
  border-color: transparent transparent var(--tooltipBackground) transparent;
  border-width: 0 0.5rem 0.4rem 0.5rem;
}

.tooltip[data-popper-placement*="top"] .arrow {
  bottom: 0;
  left: 0;
  margin-bottom: -1rem;
}

.tooltip[data-popper-placement*="top"] .arrow::before {
  border-color: var(--tooltipBorder) transparent transparent transparent;
  border-width: 0.4rem 0.5rem 0 0.5rem;
  position: absolute;
  top: 1px;
}

.tooltip[data-popper-placement*="top"] .arrow::after {
  border-color: var(--tooltipBackground) transparent transparent transparent;
  border-width: 0.4rem 0.5rem 0 0.5rem;
}

.tooltip[data-popper-placement*="right"] .arrow {
  left: 0;
  margin-left: -0.7rem;
}

.tooltip[data-popper-placement*="right"] .arrow::before {
  border-color: transparent var(--tooltipBorder) transparent transparent;
  border-width: 0.5rem 0.4rem 0.5rem 0;
}

.tooltip[data-popper-placement*="right"] .arrow::after {
  border-color: transparent var(--tooltipBackground) transparent transparent;
  border-width: 0.5rem 0.4rem 0.5rem 0;
  left: 6px;
  top: 0;
}

.tooltip[data-popper-placement*="left"] .arrow {
  margin-right: -0.7rem;
  right: 0;
}

.tooltip[data-popper-placement*="left"] .arrow::before {
  border-color: transparent transparent transparent var(--tooltipBorder);
  border-width: 0.5rem 0 0.5rem 0.4em;
}

.tooltip[data-popper-placement*="left"] .arrow::after {
  border-color: transparent transparent transparent var(--tooltipBackground);
  border-width: 0.5rem 0 0.5rem 0.4em;
  left: 3px;
  top: 0;
}
