.fr-badge {
  &--success,
  &--error {
    &:before {
      display: inline-block !important;
    }
  }
  &--DRAFT {
    background-color: #fbf6ed;
    color: #716043;
  }
  &--SEALED {
    background-color: #feecc2;
    color: #716043;
  }
  &--SENT {
    background-color: #e5fbfd;
    color: #006a6f;
  }
  &--RECEIVED {
    background-color: #e5fbfd;
    color: #006a6f;
  }
  &--ACCEPTED {
    background-color: #e3fdeb;
    color: #37635f;
  }
  &--PROCESSED {
    background-color: #b8fec9;
    color: #18753c;
  }
  &--AWAITING_GROUP {
    background-color: #e5fbfd;
    color: #006a6f;
  }
  &--GROUPED {
    background-color: #fbf6ed;
    color: #716043;
  }
  &--NO_TRACEABILITY {
    background-color: #ffe8e5;
    color: #b34000;
  }
  &--REFUSED {
    background-color: #ffe9e9;
    color: #ce0500;
  }
  &--TEMP_STORED {
    background-color: #e5fbfd;
    color: #006a6f;
  }
  &--TEMP_STORER_ACCEPTED {
    background-color: #e3fdeb;
    color: #37635f;
  }
  &--RESEALED {
    background-color: #e5fbfd;
    color: #006a6f;
  }
  &--RESENT {
    background-color: #e5fbfd;
    color: #006a6f;
  }
  &--SIGNED_BY_PRODUCER {
    background-color: #e6eefe;
    color: #3558a2;
  }
  &--INITIAL {
    background-color: #fbf6ed;
    color: #716043;
  }
  &--SIGNED_BY_EMITTER {
    background-color: #e6eefe;
    color: #3558a2;
  }
  &--INTERMEDIATELY_PROCESSED {
    background-color: #fbf6ed;
    color: #716043;
  }
  &--SIGNED_BY_TEMP_STORER {
    background-color: #e6eefe;
    color: #3558a2;
  }
  &--FOLLOWED_WITH_PNTTD {
    background-color: #b8fec9;
    color: #18753c;
  }
  &--PARTIALLY_REFUSED {
    background-color: #ffe9e9;
    color: #ce0500;
  }
  &--SIGNED_BY_WORKER {
    background-color: #e6eefe;
    color: #3558a2;
  }
  &--AWAITING_CHILD {
    background-color: #e5fbfd;
    color: #006a6f;
  }
}
