

.companyName {
  color: var(--text-action-high-blue-france);
  font-weight: bold;
}

.roleTag {
  color: var(--text-action-high-blue-france);
  background-color: var(--background-action-low-blue-france);
}