@import "front/src/scss/Constants.scss";
@import "front/src/scss/Breakpoints.scss";

.ModalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: $blue;
  margin-bottom: 1rem;
}

.CheckmarkIcon {
  color: $green;
}

.Slide {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}
.SlideContent {
  flex: 1;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
  }
}
.SlideContentImage {
  @include tablet {
    width: 40%;
  }
}
.SlideContentList {
  flex: 1;
}

.Features {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.FeaturesItem {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FeaturesItemLabel {
  font-size: 1.2rem;
  font-weight: bold;
  color: $blue;
}
