.select {
  border: 2px dotted brown;
  max-width: 400px;
}

.select:focus {
  outline: 0;
}

.selectOption {
}

.dropDownWrapper {
  padding: 12px 8px;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0px #00001229;
  position: absolute;
  z-index: 999;
  max-height: 500px;
  overflow-y: scroll;
}

.optionAndSubOptionWrapper {
}

.optionWrapper {
}

.optionCheckbox {
  height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
