@import "front/src/scss/Breakpoints.scss";

.actors {
  &__item {
    display: flex;
    align-items: center;
  }
  position: relative;

  &__label {
    font-size: 0.875rem;
    text-transform: lowercase;
    margin: 0 0 0 5px;
    color: #3a3a3a;
    height: 25px;

    & > span {
      display: inline-block;
      width: 150px;
      @include desktop {
        width: 170px;
      }
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:after {
      position: absolute;
      content: attr(data-truncate);
      left: 175px;
      @include desktop {
        left: 190px;
      }
      white-space: nowrap;
    }
  }
  &__label:first-letter {
    text-transform: capitalize;
  }

  &__label:first-letter {
    text-transform: capitalize;
  }

  &__emitter-icon {
    width: 19px;
    height: 17px;
  }

  &__transporter-icon {
    width: 19px;
    height: 19px;
  }

  &__destination-icon {
    width: 19px;
    height: 19px;
  }
  &__worker-icon {
    width: 19px;
    height: 19px;
  }
}
