.company__item {
  margin-bottom: 1em;
}

.company__item-key {
  display: block;
  color: #53657d;
  margin-bottom: 0;
}

.url-ellipsis {
  max-width: 300px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  margin-right: 10px;
  text-overflow: ellipsis;
}
