@import "../../../../scss/Constants.scss";
@import "../../../../scss/Breakpoints.scss";

.tdModalOverlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.tdModal {
  position: relative;
  border-radius: $common-radius;
  box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
  background: #fff;
  background: $white;
  width: 95vw;
  min-width: 50vw;
  z-index: 1000;
  padding: 0;
  margin: 10vh auto;

  @include desktop {
    width: 50vw;
  }
}

.tdModalPadding {
  padding: 2rem;
}

.tdModalWide {
  @include desktop {
    width: 90vw;
    max-width: 95vw;
  }
}

.ModalCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  color: $blue;
}
