@import "../../../../scss/Constants.scss";
@import "../../../../scss/Breakpoints.scss";

.tdModalOverlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.5);

  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;

  display: block;
}

.tdModalInner {
  position: relative;
  min-height: 100%;
  width: 100%;
}

.fr-modal__header.close-btn-override {
  padding: 1rem;
}

.fr-modal__content {
  max-width: 100vw;
}
