<p>
  Vous venez de créer un compte sur Trackdéchets. Nous sommes ravis de vous compter parmi nous ! 🎉
</p>
<br />
<p>
  Pour finaliser votre inscription, veuillez confirmer votre email
  <a href="{{{API_URL}}}/userActivation?hash={{{activationHash}}}">en cliquant ici.
  </a>
</p>
<br />
<p>
  Pour rappel, Trackdéchets est un service numérique conçu par la Fabrique Numérique du Ministère de la Transition
  Écologique.
</p>
<br />
<p>
  Si vous avez la moindre interrogation, n’hésitez pas à nous contacter à l'email <a
    href="mailto:hello@trackdechets.beta.gouv.fr">hello@trackdechets.beta.gouv.fr</a>.
</p>