<p>
  Vous venez de créer un compte sur Trackdéchets. Nous sommes ravis de vous
  compter parmi nous ! 🎉
</p>
<br />
<p>
  Pour finaliser votre inscription, veuillez confirmer votre email
  <a href="{{{UI_URL}}}/login?activation={{{activationHash}}}"
    >en cliquant ici.
  </a>
</p>
<br />
<p>
  Pour rappel, Trackdéchets est un service numérique conçu par la Fabrique
  Numérique du Ministère de la Transition Écologique.
</p>
<br />
<p>
  Si vous avez la moindre interrogation, n’hésitez pas consulter notre
  <a href="https://faq.trackdechets.fr/">Foire Aux Questions</a> où vous
  trouverez, en toute autonomie et sans délai, les réponses à la plupart des
  questions. Celle-ci est organisée par chapitres disponibles sur la gauche. Une
  barre de recherche par mots clés est également disponible. Si, après
  consultation de la FAQ, votre question reste sans réponse, vous pouvez nous
  contacter via <a href="https://faq.trackdechets.fr/pour-aller-plus-loin/assistance">la FAQ</a>.
</p>
