<p>
  L'établissement {{company.name}} ({{company.orgId }}) a bien été vérifié suite
  {{#company.verificationModeIsLetter}}
  <span> au renseignement du code de vérification envoyé par courrier.</span>
  {{/company.verificationModeIsLetter}} {{^company.verificationModeIsLetter}}
  <span> aux vérifications effectuées par nos équipes.</span>
  {{/company.verificationModeIsLetter}}
</p>
<br />
<p>
  Vous pouvez désormais inviter de nouveaux membres et l'établissement peut
  désormais être visé en tant que destinataire d'un BSD numérique.
</p>
