<p>
  Vous venez de créer l'établissement {{company.name}} ({{company.siret}}) sur la plateforme Trackdéchets.
</p>
<br />
<p>
  L'établissement est en cours de vérification par nos équipes. Si la vérification manuelle n'aboutit pas, vous
  recevrez d'ici quelques jours un courrier contenant un code de vérification à l'adresse enregistrée auprès du
  registre du commerce et des sociétés.
</p>
<br />
<p>
  Dans l'attente de cette vérification, vous ne serez pas en mesure d'inviter
  de nouveaux membres et l'établissement ne pourra pas être visé en tant que
  destinataire sur un BSD numérique.
</p>
<br />
<p>
  Vous pouvez suivre l'état d'avancement de la vérification depuis votre compte Trackdéchets
  Mon Compte > Établissements > {{company.siret}} > Information > Profil vérifié
</p>