<p>
  Vous venez de créer l'établissement {{company.name}} ({{company.orgId}}) sur
  la plateforme Trackdéchets.
</p>
<br />
<p>
  Pour des raisons de sécurité, et selon le profil de l’entreprise, nous sommes
  amenés à procéder à des vérifications. La vérification manuelle de votre
  établissement est en cours par nos équipes. Si elle n’aboutit pas, vous
  recevrez d'ici quelques jours un courrier contenant un code de vérification,
  transmis par voie postale à l'adresse enregistrée auprès du registre du
  commerce et des sociétés.
</p>
<br />
<p>
  Dans l'attente de cette vérification, vous ne serez pas en mesure d'inviter de
  nouveaux membres et l'établissement ne pourra pas être visé en tant que
  destinataire sur un BSD numérique.
</p>
<br />
<p>
  Vous pouvez suivre l'état d'avancement de la vérification depuis votre compte
  Trackdéchets Mon Compte > Établissements > {{company.orgId}} > Information >
  Profil vérifié
</p>
