<p>Vous avez récemment créé un compte sur Trackdéchets.</p>
<br />
<p>
  Pour pouvoir créer et signer vos bordereaux de manière dématérialisée, vous
  devez
  <a
    href="https://faq.trackdechets.fr/inscription-et-gestion-de-compte/sinscrire/rattacher-des-etablissements"
    >rattacher votre compte Trackdéchets à votre établissement</a
  >
  en saisissant son numéro SIRET.
</p>
<br />
<p>
  Si votre établissement a déjà été créé sur Trackdéchets, veuillez
  <a
    href="https://faq.trackdechets.fr/inscription-et-gestion-de-compte/sinscrire/rattacher-des-etablissements/faire-une-demande-de-rattachement"
    >effectuer une demande de rattachement</a
  >.
</p>
