<p>
    Vous avez reçu une demande de révision d'un bordereau de traçabilité de déchets sur la plateforme Trackdéchets.
</p>
<br />
<p>
    Cette demande a été émise le {{{requestCreatedAt}}} pour le bordereau n°{{{bsdReadableId}}} et vous n'y avez pas
    répondu.
    L'absence de réponse de votre part peut bloquer le processus de finalisation de la traçabilité.
</p>
<br />
<p>
    Pour retrouver cette demande, rendez vous sur la plateforme Trackdéchets, dans "Mon espace", et sélectionnez votre
    établissement {{{companyName}}} {{{companyOrgId}}}, puis le dossier "Révisions".
</p>
<br />
<p>
    Vous pouvez accepter ou refuser la demande qui vous est proposée. L'échange avec l'établissement qui a proposé la
    demande est à privilégier si vous ne la comprenez pas.
</p>