<p>Vous avez demandé à réinitialiser votre mot de passe sur Trackdéchets.</p>
<br />
<p>
  Vous pouvez modifier votre mot de passe <a href="{{{API_URL}}}/resetPassword?hash={{{resetHash}}}"><strong>en cliquant sur ce lien</strong></a>
</p>
<br />
<p>
  Si vous avez fait plusieurs demandes de réinitialisation de votre mot de passe, ce courriel annule et remplace les précédents.
</p>
<br />
<p>
  Si vous n'êtes pas à l'origine de cette demande, merci d'en informer l'équipe de Trackdéchets au plus vite <a
    href="mailto:hello@trackdechets.beta.gouv.fr">par mail.</a>
</p>
