<p>Vous avez demandé à réinitialiser votre mot de passe sur Trackdéchets.</p>
<br />
<p>
  Vous pouvez désormais vous connecter avec votre nouveau mot de passe qui vient d'être généré: <strong>{{password}}</strong>.
</p>
<br />
<p>
  Nous vous invitons, pour des raison de sécurité, à modifier votre mot de passe dès votre première connexion sur la
  plateforme
</p>
<br />
<p>
  Si vous n'êtes pas à l'origine de cette demande, merci d'en informer l'équipe de Trackdéchets au plus vite <a
    href="mailto:hello@trackdechets.beta.gouv.fr">par mail.</a>
</p>