<p>
  Votre entreprise {{company.name}} ({{company.siret}}) a été identifiée sur un
  BSD dématérialisé disponible sur <a href="{{UI_URL}}">la plateforme Trackdéchets</a>
</p>
<br />
<h3 style="color: #000091">Qu’est-ce que Trackdéchets ?</h3>
<p>
  Un outil du Ministère de la Transition Écologique qui permet notamment de
  simplifier la gestion quotidienne de la traçabilité des déchets dangereux en permettant une dématérialisation de bout
  en bout de la chaîne de traitement 💪.
</p>
<br />
<h3 style="color: #000091">Trackdéchets c’est accessible à tous ? </h3>
<p>
  Trackdéchets est gratuit et accessible à toutes les entreprises, générant ou traitant des déchets : producteurs,
  collecteurs / regroupeurs, transporteurs, installations de traitement, négociants, courtiers.
</p>
<br />
<h3 style="color: #000091">Pourquoi Trackdéchets vous écrit aujourd’hui? </h3>
<p>
  Ce message vous est adressé car l'entreprise qui vous a transmis ce bordereau dispose d'un compte sur Trackdéchets et
  ce bordereau peut nécessiter une action de votre part.
</p>
<br />
<h3 style="color: #000091">Comment aller voir ce BSD ? </h3>
<p>
  Vous pouvez créer votre compte en cliquant <a href="{{{UI_URL}}}/signup">sur ce lien</a> et en suivant la
  procédure d'inscription. C’est rapide, vous pouvez finaliser votre inscription en 3’ max une fois muni.e de votre
  SIRET. Vous pourrez alors commencer à utiliser Trackdéchets et découvrir ses fonctionnalités.
</p>
<br />
<h3 style="color: #000091">Vous avez déjà un outil de gestion des BSD, comment ça se passe ? </h3>
<p>
  Si vous disposez de votre propre solution, vous continuez comme avant et la mise en place des connections (via API)
  permettra de transmettre des BSD dématérialisés à vos clients et prestataires. Pour en savoir plus 👉 <a
    href="https://developers.trackdechets.beta.gouv.fr">consultez la
    documentation technique</a>.
</p>