.SlipsHeader {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-between;

  .title {
    display: flex;
    align-items: center;

    h2 {
      margin-right: 20px;
    }
    
    .searchbar {
      position: relative;
    }
  }
}
