@import "../../../../scss/Constants";

.survey-banner {
  background-color: #e3e3fd;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    max-width: $breakpoint-xxl;
    margin: auto;
  }

  &__group {
    display: flex;
  }

  &__subgroup {
    display: flex;
  }

  &__message {
    align-self: center;
    font-weight: 700;

    strong {
      font-weight: 1100;
    }
  }

  &__icon {
    margin: auto 16px auto 0;
  }

  &__link,
  &__message {
    margin-right: 16px;
  }

  &__close,
  &__link {
    align-self: center;
  }

  &__link {
    flex-shrink: 0;
  }

  &__link a {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    box-shadow: rgb(0, 0, 145) 0px 0px 0px 1px inset;

    &:hover {
      background-color: rgb(246, 246, 246) !important;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: $breakpoint-sm) {
    &__container {
      flex-direction: column;
    }

    &__group:first-child {
      margin-bottom: 16px;
      flex-direction: column;
    }

    &__subgroup {
      margin-bottom: 16px;
    }

    &__message {
      margin-right: 0;
    }
  }
}
