.Journey {
  list-style: none;
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    padding-bottom: 1rem;
  }
}

.JourneyStop {
  position: relative;

  &:not(:last-child) {
    padding-bottom: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    width: 2px;
    height: 100%;
    background: linear-gradient(
      180deg,
      #ebeff3 0%,
      #ebeff3 50%,
      #ebeff3 50%,
      #ebeff3 100%
    );
    transform: translate(-50%, 0);
  }

  &:first-child,
  &:last-child {
    &::before {
      height: 50%;
    }
  }

  &:first-child::before {
    top: 50%;
  }

  &:last-child::before {
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -1rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ebeff3;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
  }
}
.JourneyStopComplete {
  &::before {
    background: linear-gradient(
      180deg,
      #006be6 0%,
      #006be6 50%,
      #006be6 50%,
      #006be6 100%
    );
  }

  &::after {
    background-color: #006be6;
  }
}

.JourneyStopActive {
  &:not(:first-child):not(:last-child)::before {
    background: linear-gradient(
      180deg,
      #006be6 0%,
      #006be6 50%,
      #ebeff3 50%,
      #ebeff3 100%
    );
  }

  &:last-child::before {
    background: linear-gradient(
      180deg,
      #006be6 0%,
      #006be6 50%,
      #006be6 50%,
      #006be6 100%
    );
  }

  &::after {
    background-color: #ebeff3;
    border-color: #006be6;
  }

  @keyframes example {
    from {
      border-color: #ebeff3;
    }
    to {
      border-color: #006be6;
    }
  }
}

.JourneyStopName {
  font-size: 0.875rem !important;
  line-height: 1.5rem !important;
}
