.pickupSite {
  &SearchResult {
    background-color: #ebeff3;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
  }
 
  &SearchInput {
    max-width: 590px;
    display: inline-block;
  }
 
}
