@import "../../scss/Breakpoints.scss";

.content {
  padding: 1em 2em;

  @include tablet {
    max-width: calc(1100px + 8em);
    padding: 2em 4em;
  }
}

.panelTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  button,
  button:active {
    margin: 0;
  }
}

.titles {
  display: flex;
  flex-direction: column;
}

.additional {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
