@import "src/scss/Mixins.scss";

.BSDTypeFilterToggle {
  @include input;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.BSDTypeFilterToggleLabel {
  color: $grey-dark;
}
.BSDTypeFilterToggleIcon {
  margin-left: 0.5rem;
}

.BSDTypeFilterMenu {
  padding: 0;
  border-radius: $common-radius;
  font-size: 0.8rem;
  border-color: $grey;
}

.BSDTypeFilterMenuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;

  &:focus,
  &:hover,
  &[data-selected] {
    opacity: 0.6;
    color: inherit;
    background-color: transparent;
  }
}
.BSDTypeFilterMenuItemCheck {
  font-size: 0.8rem;
  color: $blue-dark;
  visibility: hidden;
}
.BSDTypeFilterMenuItemCheckVisible {
  visibility: visible;
}
.BSDTypeFilterMenuItemIcon {
  font-size: 1.2rem;
  margin: 0 1rem 0 0.5rem;
}
.BSDTypeFilterMenuItemLabel {
  flex: 1;
}
