@import "../../scss/Breakpoints";
@include phone {
  .transporter {
    &Department {
      width: 100px;
      display: block;
    }
    &ValidityLimit {
      width: 160px;
      display: block;
    }
    &NumberPlate {
      width: 200px;
      display: block;
    }
  }
}
