@import "src/scss/Breakpoints.scss";

.dashboard-page {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;

  @include desktop {
    max-width: 95%;
  }

  &__bsd-dropdown {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 0 2rem 0.5rem;

    .btn {
      width: fit-content;
    }
    .fr-btn {
      margin: 5px 0;
    }
    @include desktop {
      flex-direction: row;
      margin: 0 0 2.5rem 0.5rem;

      .fr-btn {
        margin: 5px 20px;
      }
    }
  }

  &__loadmore {
    text-align: center;
    margin: 15px;
  }

  .filters {
    width: 99%;
    margin: 0 auto;
  }

  .fr-breadcrumb__list li:not(:first-child):before {
    -webkit-mask-image: url("/icons/system/arrow-right-s-line.svg");
  }
}
