@import "../scss/Breakpoints.scss";

.dashboard-page {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;

  @include desktop {
    max-width: 95%;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 15px 15px 0px;

    .create-btn {
      .dropdown-menu__content {
        width: 280px;
      }
    }

    .filter-btn {
      .fr-btn {
        margin: 5px 0;
        width: 180px;
        @include desktop {
          width: 100%;
        }
        justify-content: center;
        box-sizing: content-box;
        padding: 0px;
        &:after {
          content: "";
          display: inline-block;
          background: url("/icons/dashboard/icon-filter.svg");
          width: 16px;
          height: 16px;
          margin-left: 5px;
        }
      }
    }

    @include desktop {
      flex-direction: row;
      .filter-btn {
        .fr-btn {
          margin: 0px 20px;
        }
      }
    }
  }

  &__loadmore {
    text-align: center;
    margin: 15px;
  }

  .filters {
    width: 99%;
    margin: 0 auto;
  }

  .fr-breadcrumb__list li:not(:first-child):before {
    -webkit-mask-image: url("/icons/system/arrow-right-s-line.svg");
  }

  &__blankstate {
    margin-top: 100px;
  }
}
