@import "../scss/Constants.scss";

.company-select {
  margin: 30px 10px;
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.9em;
  }
  & select {
    width: 100%;
    @media (min-width: 749px) {
      max-width: 200px;
    }
  }

  p,
  h3 {
    font-weight: 400;
    margin: 0;
  }
}

.company-title {
  margin: 1rem 1rem;
  font-weight: bold;
  overflow-wrap: break-word;
}
