@import "src/scss/Constants.scss";
@import "src/scss/Breakpoints.scss";
.dashboard-content {
  flex: 1;
  padding-bottom: 80px; //prevent crispr icon to overlap slips list
 
  overflow-x: scroll;
  width: 100%;
  max-width: 100%;
  @include lg-desktop {
    width: calc(100vw - 210px);
    max-width: calc(100vw - 210px);
  }
}
