.dashboard-menu.side-menu {
  background-color: #ebeff3;
  flex: initial;
  padding: 0 20px 10px 0;

  .company-title {
    margin: 30px 10px;
    h3 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.9em;
    }

    p,
    h3 {
      font-weight: 400;
      margin: 0;
    }
  }
}
