@import "src/scss/Constants.scss";
@import "src/scss/Breakpoints.scss";
.dashboard-content {
  flex: 1;
  padding-bottom: 80px; //prevent crispr icon to overlap slips list
  width: calc(100vw - 210px);
  max-width: calc(100vw - 210px);
  overflow-x: scroll;

  @include lg-desktop {
    width: 100%;
  }
}
