server {
    listen       80;
    server_name  localhost;

    location / {
      rewrite ^ $DEVELOPERS_URL_SCHEME://${DEVELOPERS_HOST}/docs$request_uri permanent;
    }

    location = / {
      rewrite ^ $DEVELOPERS_URL_SCHEME://${DEVELOPERS_HOST}/docs/introduction permanent;
    }

    location /api-reference/api-reference {
      rewrite ^ $DEVELOPERS_URL_SCHEME://${DEVELOPERS_HOST}/docs/api-reference permanent;
    }
}
