.nav__item a.highlighted-button {
  color: #0053b3;
  border: 1px solid #0053b3;
}

.nav__item a.highlighted-button.active {
  color: #fff;
}

.navbar {
  border-bottom: 1px solid var(--theme-border-lighter);
}
