

.navbar {
  border-bottom: 1px solid var(--theme-border-lighter);

  .nav__links {
    margin-right: 3em;
  }

  .nav__item {
    margin: 0 0.1em;
  }

    .nav__item a.active {
      background: none;
      color: var(--theme-primary);
    }

    .nav__item a:hover {
      background: none;
      color: var(--theme-primary);
    }

    .nav__item.logout a:hover {
      color: var(--orange)
    }
}
