.hero {
  background-image: url("/hero-bg.jpg");
  background-size: 100%;
  padding: 40px 0;
}

.hero__container {
  min-height: 38vh;
}

.hero__white-background {
  padding: 10px 1em;
  background-color: white;
}

.feature-icon {
  font-size: 3em;
  text-align: center;
}

.description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  .description-header {
    width: 100%;
    text-align: center;
  }

  .description-text,
  .description-img {
    flex: 1;
  }

  .description-img {
    align-self: center;
    margin-right: 30px;
    img {
      max-width: 100%;
    }
  }
}

