.hero {
  background-image: url("/hero-bg.jpg");
  background-size: 100%;
  padding: 40px 0;
}

.footer__logo-text {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
  a {
    color: white;
  }
}

.feature-icon {
  font-size: 3em;
  text-align: center;
}

.description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  .description-header {
    width: 100%;
    text-align: center;
  }

  .description-text,
  .description-img {
    flex: 1;
  }

  .description-img {
    align-self: center;
    margin-right: 30px;
    img {
      max-width: 100%;
    }
  }
}
