.Partners__logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 130px;
  }

  figure {
    margin: 30px;
  }

  figcaption {
    margin-top: 4px;
    text-align: center;
  }

  .sarpi-veolia,
  .seche {
    width: 150px;
  }
}

.Partners__engagements_benefices {
  li {
    width: 450px;
    text-align: justify;
  }
}

.section:nth-of-type(2) {
  padding-bottom: 2em;
}

.section:nth-of-type(3) {
  padding-top: 2em;
}
.current-partners {
  display: block;
  text-align: center;
  margin-top: 32px;
}
