.Partners__logos {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    display: block;
  }

  figure {
    margin: 15px;
  }

  figcaption {
    margin-top: 4px;
    text-align: center;
  }

  .sarpi-veolia, .seche {
    width: 150px;
  }

}

.Partners__engagements_benefices {
  li {
    width: 450px;
    text-align: justify;
  }
}

.section:nth-of-type(2) {
  padding-bottom: 2em;
}

.section:nth-of-type(3) {
  padding-top: 2em;
}