.form-error-message {
  color: #d63626;

  &--bold {
    font-weight: bold;
    margin-bottom: 2em;
  }
}


.show-password {
  text-align: right;
  color: #006be6;
  cursor: pointer;
}

.password-meter {
  display: block;
}

.text-green {
  color: #03bd5b;
}

.form--wide {
  max-width: 600px;
}
