.form-error-message {
  color: #d63626;
}

.show-password {
  text-align: right;
  color: #006be6;
  cursor: pointer;
}

.password-meter {
  display: block;
}

.userType-fieldset {
  margin-top: 10px;
  line-height: 2em;
}