@import "front/src/scss/Breakpoints.scss";

.CompanySelector {
  .company-bookmarks {
    list-style: none;
    padding: 0;
  }

  h6 {
    margin: 10px 0;
  }

  .company-bookmarks__item {
    background-color: #ebeff3;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    .content {
      flex: 1;

      p,
      h6 {
        margin: 0;
      }
    }

    .icon {
      color: #8393a7;
      font-size: 1.5em;
    }

    &:hover .icon,
    &.is-selected .icon {
      color: #03bd5b;
    }

    &.is-selected {
      border: 1px solid #03bd5b;
      background-color: #daf5e7;
    }
  }

  .search-icon {
    cursor: text;
  }
}
.companySelector {
  &SearchFields {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap; // display fields stacked if there is not enough room
    }
  }

  &SearchSiret {
    width: 480px;
  }

  &SearchGeo {
    width: 230px;
  }
  &SearchPhone {
    width: 150px;
    display: block;
  }
  &SearchEmail {
    width: 400px;
    display: block;
  }
  &SearchField {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  &SearchGroup {
    display: flex;
    flex-direction: column;
  }
}

.searchIcon {
  margin-left: -30px;
  position: relative;
  color: $grey-dark;
}
