@page {
  size: A4;
  margin: 0.5rem;
}

:root {
  --color-black: #161c4e;
  --spacing-gutter: 0.5rem;
}

html {
  font-size: 12px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 var(--spacing-gutter) 0;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1rem;
  text-decoration: underline;
}

.TextAlignCenter {
  text-align: center;
}

.Row,
.BoxRow {
  display: flex;
}
.Col,
.BoxCol {
  flex: 1;
}

.Page {
  break-after: page;
}

.Box {
  border-bottom: 1px solid var(--color-black);
}
.BoxRow {
  border: 1px solid var(--color-black);
  border-right: 0;
  border-bottom: 0;
}
.BoxCol {
  position: relative;
  border-right: 1px solid var(--color-black);
  padding: var(--spacing-gutter);
}

.QrCode svg {
  height: 80px;
  width: auto;
}

.Signature {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: var(--spacing-gutter);
}
.Signature svg {
  width: 80px;
  height: auto;
}
