@import "front/src/scss/Constants.scss";

.company {
  .title {
    display: flex;
    justify-content: space-between;

    h6 {
      margin-top: 0;
      margin-bottom: 1em;
    }

    .admin {
      font-style: italic;
      font-weight: normal;
      color: $grey-darker;
      svg {
        margin-left: 1em;
        vertical-align: sub;
        display: inline;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1em;

    button {
      cursor: pointer;
      text-decoration: none;
      color: $grey-darkest;
      margin-right: 1.5em;
    }

    button:hover {
      background: none;
      color: $blue;
    }

    button.active {
      color: $blue;
      border-bottom: $blue solid 2px;
    }
  }
}
