
.field {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  border-top: 1px solid var(--lighter-grey);
  border-bottom: 1px solid var(--lighter-grey);
}

.field .label {

}

.field .value {

}

.field .modifier {

}