.companyForm {
  max-width: initial;
}

.field {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 1em;
  justify-content: flex-start;
  border-top: 1px solid var(--lighter-grey);

  .field__value {
    margin-left: 3em;
    margin-right: 3em;

    ul {
      margin: 0;
      padding: 0;
    }
  }

  .formDescription {
    margin-top: 0;
  }

  .acceptedFormats {
    font-size: small;
  }
}

.field:last-of-type {
  border-bottom: 1px solid var(--lighter-grey);
}

.field > label {
  font-weight: bold;
  min-width: 180px;
}
