@import "front/src/scss/Constants.scss";

.container {
  max-width: 800px;
}

.alertWrapper {
  margin: 2em 0;
}

.companyAddForm {
  max-width: initial;

  .subtitle {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $grey-lighter;
  }

  .field {
    width: 100%;
    display: flex;
    margin: 1.5em auto;
    justify-content: flex-start;
  }

  .field > label {
    flex-shrink: 0;
    width: 180px;
  }

  .bold {
    font-weight: bold;
  }

  .field__value {
    width: 100%;
    display: block;
  }

  .submit-form {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .submit-form > button {
    margin: 0.5em;
  }

  .textField {
    width: 300px;
  }

  .smaller {
    font-size: 90%;
  }

  .separator {
    border-top: 1px solid $grey-light;
    margin: 2em 0;
  }

  table {
    border-collapse: collapse;
  }

  td {
    padding-right: 1em;
    padding-bottom: 1em;
    vertical-align: top;
  }

  tr td:last-of-type {
    padding-right: 0;
  }

  tr:last-of-type td {
    padding-bottom: 0;
  }
}

.inputGroup {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.inputGroupInput {
  display: block;
  width: 100%;
  margin-right: 5px;
}

.workerCertif {
  display: flex;
  flex-direction: column;
  margin-left: 235px;
}

.workerCertifItem {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.workCertifSubSectionThree {
  width: 350px;
}
