.searchInput {
  display: inline-block;
  max-width: 590px;
  width: 100%;
}

.searchResult {
  background-color: #ebeff3;
  border: 0;
  cursor: pointer;
  display: block;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.searchResult:hover,
.searchResult:focus-visible {
  background-color: #dde5ed;
}
