apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: frontend-secrets
  namespace: trackdechets-frontend
  labels:
    app.kubernetes.io/name: frontend-secrets
    app.kubernetes.io/component: secrets
    app.kubernetes.io/part-of: trackdechets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: frontend-secretstore
    kind: SecretStore
  target:
    name: frontend-secrets
    creationPolicy: Owner
    template:
      type: Opaque
  dataFrom:
    - extract:
        key: scw-frontend-credentials