.slide {
  .content {
    display: flex;
  }

  h1 {
    text-align: center;
  }

  .text {
    text-align: justify;
    align-self: center;
    padding: 0 10px;
  }

  .image {
    max-width: 50%;
    flex-shrink: 0;
    margin-right: 10px;
    align-self: center;

    img {
      max-width: 100%;
    }
  }
}
