/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000091;
  --ifm-color-primary-dark: #000083;
  --ifm-color-primary-darker: #00007b;
  --ifm-color-primary-darkest: #000065;
  --ifm-color-primary-light: #0000a0;
  --ifm-color-primary-lighter: #0000a7;
  --ifm-color-primary-lightest: #0000bd;
  --ifm-code-font-size: 95%;
}
