@page {
  size: A4;
  margin: 0.5rem;
}

:root {
  --color-black: #161c4e;
  --spacing-gutter: 0.5rem;
}

html {
  font-size: 12px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.4;
  position: relative;
}
body:before {
  content: "";
  position: fixed;
  inset: -60px 0 0 -60px;
  font-size: 120px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 0.1;
  transform: rotate(-45deg);
}
body.sandbox:before {
  content: "SANDBOX";
}
body.recette:before {
  content: "RECETTE";
}
body.local:before {
  content: "LOCAL";
}
body.sandbox:after,
body.recette:after,
body.local:after {
  content: "Bordereau test";
}
body:after {
  content: "";
  position: fixed;
  inset: 60px 0 0 60px;
  font-size: 60px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 0.1;
  transform: rotate(-45deg);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 var(--spacing-gutter) 0;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1rem;
  text-decoration: underline;
}

table {
  font: inherit;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
th {
  font-weight: bold;
}
th,
td {
  padding: var(--spacing-gutter);
  border: 1px solid var(--color-black);
}

.TextAlignCenter {
  text-align: center;
}

.TextUnderline {
  text-decoration: underline;
}

.Row,
.BoxRow {
  display: flex;
}
.Col,
.BoxCol {
  flex: 1;
}
.BoxColOneThird {
  width: 33%;
  position: relative;
  border-right: 1px solid var(--color-black);
  padding: var(--spacing-gutter);
}
.BoxColTwoThird {
  width: 66%;
  position: relative;
  border-right: 1px solid var(--color-black);
  padding: var(--spacing-gutter);
}

.Page {
  break-after: page;
}

.BoxRow {
  border: 1px solid var(--color-black);
  border-right: 0;
  margin-bottom: -1px;
  page-break-inside: avoid;
  page-break-after: auto;
}
.BoxCol {
  position: relative;
  border-right: 1px solid var(--color-black);
  padding: var(--spacing-gutter);
}

.QrCode svg {
  height: 80px;
  width: auto;
}

.PositionAbsolute {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: var(--spacing-gutter);
}

.Signature svg {
  width: 80px;
  height: auto;
}

.Flex {
  display: flex;
}

.SpaceBetween {
  justify-content: space-between;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-12 {
  margin-left: 12px;
}
