@import "../../Utils.scss";

.modal {
  max-height: 90%;
  overflow: auto;
  min-width: 70%;

  form {
    max-width: initial;
  }

  .step-header {
    position: initial;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    .step-header {
      display: none;
    }
  }
}

// hide number input spinner
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.no-spinner[type=number] {
  -moz-appearance: textfield;
}