@import "../../scss/Breakpoints.scss";

.modal {
  max-height: 90%;
  overflow: auto;
  min-width: 70%;

  form {
    max-width: initial;
  }

  .step-header {
    position: initial;
  }

  @include xs-phone {
    .step-header {
      display: none;
    }
  }
}

// hide number input spinner
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.no-spinner[type="number"] {
  -moz-appearance: textfield;
}
.waste-label {
  width: 160px;
  text-align: right;
  margin-right: 0.5em;
  display: inline-block;
}
.address {
  font-style: normal;
}
