.modal {
  max-height: 90%;
  overflow: auto;
  min-width: 70%;

  form {
    max-width: initial;
  }

  .step-header {
    position: initial;
  }

  @media only screen and (max-width: 480px) {
    .step-header {
      display: none;
    }
  }
}
