.step-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 0 0 1rem 0;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
  padding: 15px 0;
}
.step-header li {
  cursor: pointer;
  flex: 2;
  position: relative;
  padding: 0 0 14px 0;
  line-height: 1.5;
  color: #006be6;
  font-weight: 600;
  white-space: nowrap;
  overflow: visible;
  min-width: 0;
  text-align: center;
  border-bottom: 2px solid #ebeff3;
}
.step-header li:first-child,
.step-header li:last-child {
  flex: 1;
}
.step-header li:first-child {
  text-align: left;
}
.step-header li:last-child {
  text-align: right;
}
.step-header li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ebeff3;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  left: calc(50% - 6px);
  bottom: -7px;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}
.step-header li:first-child:before {
  left: 0;
}
.step-header li:last-child:before {
  right: 0;
  left: auto;
}
.step-header span {
  transition: opacity 0.3s ease-in-out;
}
.step-header li:not(.is-active) span {
  opacity: 0.5;
}
.step-header .is-complete:not(:first-child):after,
.step-header .is-active:not(:first-child):after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -50%;
  z-index: 2;
  border-bottom: 2px solid #006be6;
}
.step-header li:last-child span {
  width: 200%;
  display: inline-block;
  position: absolute;
  left: -100%;
}

.step-header .is-complete:last-child:after,
.step-header .is-active:last-child:after {
  width: 200%;
  left: -100%;
}

.step-header .is-complete:before {
  background-color: #006be6;
}

.step-header .is-active:before,
.step-header li:hover:before,
.step-header .is-hovered:before {
  background-color: #ebeff3;
  border-color: #006be6;
}
.step-header li:hover:before,
.step-header .is-hovered:before {
  transform: scale(1.33);
}

.step-header li:hover span,
.step-header li.is-hovered span {
  opacity: 1;
}

.step-header:hover li:not(:hover) span {
  opacity: 0.5;
}

.input-error {
  border-color: #d63626;
}

.input-error-message {
  color: #d63626;
}
