.label-icon-editable {
  background: none;
  border: none;
  text-align: left;
  &:disabled {
    color: initial;
  }
}
.label-icon {
  margin: 0;
  padding: 0 0 0 5px;
  display: flex;
  align-items: center;

  &__TempStorage {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/temp-storage.svg");
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }
  &__EcoOrganism {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/eco-organism.svg");
      width: 16px;
      height: 16px;
      margin-right: 5px;
      flex-shrink: 0;
    }
  }
  &__LastModificationDate {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/last-modification-date.svg");
      width: 15px;
      height: 15px;
      margin-right: 5px;
      flex-shrink: 0;
    }
  }
  &__CustomInfo {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/custom-info-icon.svg");
      width: 24px;
      height: 24px;
      margin-right: 5px;
      flex-shrink: 0;
    }
  }
  &__TransporterNumberPlate {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/transporter-number-plate-icon.svg");
      width: 24px;
      height: 24px;
      margin-right: 5px;
      flex-shrink: 0;
    }
  }
}
