.label-icon-editable {
  background: none;
  border: none;
  text-align: left;
  display: flex;
  align-items: center;
  vertical-align: middle;
  &:disabled {
    color: initial;
  }
}
.label-icon {
  margin: 0;
  padding: 0 0 0 5px;
  display: flex;
  align-items: center;

  &__TempStorage {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/temp-storage.svg");
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }
  &__EcoOrganism {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/eco-organism.svg");
      width: 16px;
      height: 16px;
      margin-right: 5px;
      flex-shrink: 0;
    }
  }
  &__LastModificationDate {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/last-modification-date.svg");
      width: 15px;
      height: 15px;
      margin-right: 5px;
      flex-shrink: 0;
    }
  }
  &__CustomInfo,
  &__TransporterNumberPlate {
    &:before {
      display: inline-flex;
      align-items: center;
      content: "";
      width: 24px;
      height: 24px;
      margin-right: 5px;
      flex-shrink: 0;
      vertical-align: middle;
    }
    display: inline-block;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
  }
  &__CustomInfo {
    &:before {
      background-image: url("/icons/dashboard/custom-info-icon.svg");
    }
  }
  &__TransporterNumberPlate {
    &:before {
      background-image: url("/icons/dashboard/transporter-number-plate-icon.svg");
    }
  }
  &__PickupSite {
    &:before {
      display: inline-block;
      content: "";
      background-image: url("/icons/dashboard/icon-pickup-site.svg");
      width: 19px;
      height: 19px;
      flex-shrink: 0;
    }
  }
}
