@import "./Constants.scss";

@mixin xs-phone {
  @media only screen and (max-width: $breakpoint-xs) {
    @content;
  }
}
@mixin phone {
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: $breakpoint-handheld) {
    @content;
  }
}
@mixin lg-desktop {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}
@mixin xl-desktop {
  @media only screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}
