$breakpoint-xs: 480px;
$breakpoint-tablet: 769px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$blue: #0053b3;
$blue-light: #006be6;
$blue-dark: #003b80;
$gray-light: #ebeff3;