$breakpoint-xs: 480px;
$breakpoint-tablet: 769px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-handheld: 992px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1600px;

$white: #ffffff;
$grey: #adb9c9;
$grey-dark: #8393a7;
$grey-darker: #53657d;
$grey-darkest: #26353f;
$black: #1c1c1c;

$blue: #0053b3;
$blue-light: #006be6;
$blue-dark: #003b80;
$blue-darker: #00234d;
$blue-lighter: #b4e1fa;
$grey-lightest: #fafbfc;
$grey-lighter: #ebeff3;
$grey-light: #eaeaea;

$green: #03bd5b;
$green-light: #daf5e7;

$orange: #ff9947;
$orange-dark: #cc5c00;
$orange-light: #fff0e4;

$red: #d63626;
$red-dark: #ab2b1e;
$red-light: rgba(239, 172, 166, 0.45882);

$common-radius: 3px;

$fs-normal: 1rem;
$fs-medium: 0.875rem;
$fs-small: 0.75rem;

$sidebar-width: 210px;

$h1Size: 2rem;
$h2Size: 1.75rem;
$h3Size: 1.5rem;
$h4Size: 1.25rem;
$h5Size: 1.125rem;
$h6Size: 1rem;

$shadow-short: 0 1px 2px rgba(201, 211, 223, 0.2);
