button.no-margin,
button.no-margin:active {
  margin: 0;
}

.button.button--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.form {
  &__row {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
  }
  &__row--inline {
    flex-direction: row;
    input {

      flex: 0 0 auto;
    }
  }
  &__radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__actions {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    button,
    button:active {
      margin-left: 1em;
      margin-right: 0;
    }
  }
  &__section-heading {
    font-weight: bold;
    font-size: 1.25rem; //h4
    margin: 2rem 0 0.75rem 0;
  }
}
