@import "../generated/css/tailwind.generated.css";

@import "./Constants.scss";
@import "./Breakpoints.scss";
@import "./Typography.scss";
@import "./Layout.scss";
@import "./Sections.scss";
@import "./Buttons.scss";
@import "./Tables.scss";
@import "./Inputs.scss";
@import "./Errors.scss";
@import "./Forms.scss";
@import "./Modals.scss";
@import "./Notifications.scss";
@import "./Panels.scss";
@import "./Dashboard.scss";

@font-face {
  font-family: "marianne";
  src: url("/fonts/marianne/marianne-regular-webfont.woff2") format("woff2"),
    url("/fonts/marianne/marianne-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "marianne";
  src: url("/fonts/marianne/marianne-bold-webfont.woff2") format("woff2"),
    url("/fonts/marianne/marianne-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html,
body,
* {
  font-family: "marianne" !important;
}
html {
  font-size: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
address {
  font-style: normal;
}

button.link {
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  color: var(--theme-primary);
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

@include xs-phone {
  .modal__backdrop .modal {
    max-height: 100%;
  }
}
a:hover {
  background: none;
}
