@import "../generated/css/tailwind.generated.css";
@import "./Constants.scss";
@import "./Breakpoints.scss";
@import "./Typography.scss";
@import "./Layout.scss";
@import "./Sections.scss";
@import "./Buttons.scss";
@import "./Tables.scss";
@import "./Inputs.scss";
@import "./Errors.scss";
@import "./Forms.scss";
@import "./Modals.scss";
@import "./Notifications.scss";
@import "./Panels.scss";
@import "./Dashboard.scss";
@import "./Spinner.scss";

@font-face {
  font-family: "marianne-td";
  src: url("/fonts/marianne/marianne-regular-webfont.woff2") format("woff2"),
    url("/fonts/marianne/marianne-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "marianne-td";
  src: url("/fonts/marianne/marianne-bold-webfont.woff2") format("woff2"),
    url("/fonts/marianne/marianne-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html,
body,
* {
  font-family: "marianne-td", Arial, Helvetica, sans-serif;
}
html {
  font-size: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
address {
  font-style: normal;
}

.App {
  button.link {
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: $blue;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
  }
}

@include xs-phone {
  .modal__backdrop .modal {
    max-height: 100%;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// Cette classe permet de forcer l'affichage du lien externe. L'utilisation de raw-link pour raison de compatibilités avec Tailwind rentrant en conflit avec le DSFR
.force-external-link-content {
  &::after {
    content: "" !important;
  }
}

// Cette classe permet de forcer le sous-lignage des liens. L'utilisation de raw-link pour raison de compatibilités avec Tailwind rentrant en conflit avec le DSFR
.force-underline-link {
  --underline-img: linear-gradient(0deg, currentColor, currentColor) !important;
}
