@import "./Constants.scss";
@import "./Mixins.scss";

input:focus,
textarea:focus,
select:focus {
  border-color: #006be6;
  border-color: $blue-light;
  outline: none;
  transition: border-color 0.2s ease-out;
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #ebeff3;
  background-color: $grey-lighter;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  margin-right: 0.5em;
  margin-right: 0.5em;
}

input[type="radio"] {
  height: 1.25em;
  width: 1.25em;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  appearance: none;
  padding: 0;
}

input[type="radio"]:not(.fr-radio-group input)::before {
  content: "";
  border-color: #0053b3;
  border-color: $blue;
  border-radius: 50%;
  position: absolute;
  top: 0.3em;
  left: 0.35em;
  width: 0.5em;
  height: 0.5em;

  transform: scale(0);
}

input[type="radio"]:not(.fr-radio-group input):checked {
  background-color: #fff;
  background-color: $white;
  border-color: #0053b3;
  border-color: $blue;
  opacity: 1;
}

input[type="radio"]:not(.fr-radio-group input):checked::before {
  background-color: #0053b3;
  background-color: $blue;

  transform: scale(1);

  transition: transform 0.2s ease-out;
}

.fr-checkbox-group {
  input[type="checkbox"]:checked {
    opacity: 0 !important;
  }
}

input[type="checkbox"] {
  appearance: none;
  height: 1.4em;
  width: 1.5em;
  padding: 0;
}
input[type="checkbox"]:checked:not(.fr-toggle__input) {
  background-color: #0053b3;
  background-color: $blue;
  border-color: #0053b3;
  border-color: $blue;
  opacity: 1;
  transition: border-color 0.2s ease-in, background-color 0.2s ease-out;
}

input[type="checkbox"]::before {
  transform: scale(0);
  content: "";
  position: absolute;
  top: 0.2em;
  left: 0.15em;
  height: 1em;
  width: 1em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path d="M14.23 1.304L6.112 9.501 2.767 6.117a1.029 1.029 0 0 0-1.464 0 1.054 1.054 0 0 0 0 1.479l4.055 4.101c.208.21.481.31.754.305.272.005.545-.095.753-.305l8.829-8.915a1.053 1.053 0 0 0 0-1.478 1.027 1.027 0 0 0-1.464 0z" fill="white" /></svg>')
    center center no-repeat;
}
input[type="checkbox"]:checked::before {
  color: #fff;
  color: $white;
  display: block;
  transform: scale(1);

  transition: transform 0.2s ease-out;
}
// remove ff red shadows around required checkboxes
input[type="checkbox"]:invalid {
  box-shadow: none;
}

// prevent date input icon to hide date value on webkit
input[type="date"]::-webkit-calendar-picker-indicator {
  margin: 0;
}
input[type="file"] {
  display: inline-flex;
}

@-moz-document url-prefix() {
  select {
    padding-top: 0.438em;
    padding-bottom: 0.438em;
  }
}

select:focus {
  outline: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.td-input,
.td-textarea,
.td-radio,
.td-checkbox,
.td-select {
  @include input;
}
.td-input--small {
  max-width: 150px;
  display: block;
}
.td-input--medium {
  max-width: 400px;
  display: block;
}
.td-date-wrapper {
  width: 120px;
}
.td-department {
  width: 100px;
  display: block;
}
.td-select {
  appearance: none;
  padding-right: 1.75rem;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBhdGggZD0iTTMxIDguNzA3TDE2LjcwNyAyM2EuOTk2Ljk5NiAwIDAgMS0xLjQxNCAwTDEgOC43MDciIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIxLjk5OTk5NDk5OTk5OTk5OTciLz48L3N2Zz4=");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.td-input-text-security {
  font-family: "text-security-disc";
  /* Use -webkit-text-security if the browser supports it */
  -webkit-text-security: disc;
}

.showPassword {
  color: #006be6;
  cursor: pointer;
  display: flex;
  align-items: center;
  > span {
    margin-left: 0.25rem;
  }
}
