@import "./Constants.scss";

.td-modal {
  position: relative;
  border-radius: $common-radius;
  box-shadow: $shadow-short;
  background: $white;
  padding: 1.5em;
  max-width: 32em;
  z-index: 1000;
  &--no-padding {
    padding: 0;
  }
  & > :first-child {
    margin-top: 0;
  }
}

.td-modal-title {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.td-dsfr-modal-bsd-form {
  width: 100%;

  .fr-modal__body {
    max-height: none !important;
    height: 98vh !important;

    @include desktop {
      height: 90vh !important;
    }
  }

  .fr-tabs {
    min-height: 700px;
  }

  @include lg-desktop {
    max-width: 1099px;
  }
}
