@import "front/src/scss/Constants.scss";
@import "front/src/scss/Breakpoints.scss";

// lighter notifications
.light-notification {
  &--success {
    background-color: $green-light;
  }
}

.notification.closable {
  padding-right: 3em;
  padding-right: 3em;
}

.notification.full-width {
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  border: 0;
}

.notification {
  background: $blue-lighter;
  border: 1px solid $blue-light;
  border-radius: $common-radius;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;

  &__close {
    border: 0;
    background: 0;
    color: currentColor;
    position: absolute;
    right: 1em;
  }

  &__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }

  &--success {
    background: $green-light;
    border-color: $green;
  }

  &--warning {
    background: $orange-light;
    border-color: $orange;
  }

  &--downtime,
  &--platform {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1em;

    @include desktop {
      padding: 1em 4em;
    }

    img {
      margin-right: 20px;
    }
  }

  &--platform {
    background: #fde39c;
  }

  &--downtime {
    background: #b34000;
    color: white;
    font-weight: bold;
  }

  &--error {
    background: $red-light;
    border-color: $red;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}
