@import "front/src/scss/Constants.scss";

.panel {
  background: $white;
  border-radius: $common-radius;
  box-shadow: $shadow-short;
  padding: 1.5em;
  position: relative;
  border: 1px solid $grey-light;
}

.panel + * {
  margin-top: 1.5em;
}

.panel > :last-child {
  margin-bottom: 0;
}
