@import "front/src/scss/Constants.scss";

.td-table {
  background: $white;
  border: 1px solid $grey-light;
  border-left: 0;
  border-right: 0;
  border-radius: 2px;
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  &__tr {
    border-bottom: 1px solid $grey-light;
  }
  &__head-tr {
    background: #eaeaea;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
  }
  & td,
  th {
    padding: 1em 0.2em;
    text-align: left;
    overflow-wrap: anywhere;

    @include lg-desktop {
      padding: 1em 1em;
    }
  }
}
.shortenable {
  overflow: hidden;
  text-overflow: ellipsis;
}
