name: Integration tests

on: pull_request

jobs:
  back:
    runs-on: ubuntu-latest
    name: Integration tests (chunk ${{ matrix.shard }}/${{ strategy.job-total }})
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    defaults:
      run:
        working-directory: back/integration-tests
    steps:
      - uses: actions/checkout@v3
      - name: Run integration tests
        env:
          TD_COMPANY_ELASTICSEARCH_URL: ${{ secrets.TD_COMPANY_ELASTICSEARCH_URL }}
          TD_COMPANY_ELASTICSEARCH_CACERT: ${{ secrets.TD_COMPANY_ELASTICSEARCH_CACERT }}

        run: |
          chmod +x ./run.sh
          ./run.sh -c ${{ matrix.shard }}/${{ strategy.job-total }}
